<!-- form start -->

<%= form_for(@comment,url: admin_comment_path,html: { multipart: true }, class: 'form-horizontal') do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="box-body">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <div class="form-group">
              <%=f.label :user%><span class=""> *</span>
              <%=f.text_field :user, class: 'form-control'%>
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div class="form-group">
              <%=f.label :email%><span class=""> *</span>
              <%=f.text_field :email, class: 'form-control'%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%=f.label :body%><span class=""> *</span>
          <%= f.cktext_area :body, class: "form-control ",
                             rows: 15 ,ckeditor: {language: 'es'}%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><%=t('common.cancel')%></button>
        <%= f.submit  t('common.new'), class: 'btn btn-outline pull-right' %>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit  t('common.accept'), class: 'btn btn-info pull-right' %>
    </div><!-- /.box-footer -->
<%end%>
