<section class="content-header">
  <h1>
    <%=t('common.edit').upcase%>
    <small><%=@comment.user%></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">General Elements</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
          <%= render 'admin/comments/form_edit' %>
      </div>
    </div>
  </div>
</section>

