<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%=t('admin_zone.comment.name')%>
  </h1><br/>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= form_for(:search, url: search_admin_comments_path, method: 'get', html: {class: 'form-inline'}) do |f| %>
            <div class="form-group">
              <%= f.text_field :text, placeholder: t('admin_zone.comment.search'), class: 'form-control' %>
            </div>
            <%= f.submit t('common.search'), class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="pull-left">
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-comments"></i> <%= t('admin_zone.comment.list') %><%=" (#{@subtitle})" unless @subtitle.blank?%>
          <div class="pull-right">
            <div class="btn-group">
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                  <thead>
                  <tr role="row">
                    <th><%=t('helpers.label.comment.user')%></th>
                    <th><%=t('helpers.label.comment.email')%></th>
                    <th><%=t('helpers.label.comment.body')%></th>
                    <th><%=t('admin_zone.global.actions')%> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @comments.each do |comment| %>
                      <tr class="odd" role="row">
                        <td><%=comment.user%></td>
                        <td><%=comment.email%></td>
                        <td><%=comment.body.html_safe%></td>
                        <td>
                          <a class="btn btn-default btn-xs" href="<%=edit_admin_comment_path(comment)%>"><i class="fa fa-pencil-square-o"></i> <%=t('common.edit')%></a>
                          <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_comment_path(comment)%>"><i class="fa fa-trash"></i> <%=t('common.delete')%></a>
                          <a class="btn btn-info btn-xs" href="<%=blog_path(comment.commentable)%>"><i class="fa fa-globe"></i> <%=t('admin_zone.comment.go_to_post')%></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                  <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                                    page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>

















