<!-- form start -->

<%= form_for(@delivery_price,url: admin_delivery_price_path,html: { multipart: true }, class: 'form-horizontal') do |f| %>
  <% if @delivery_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_price.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
      <ul>
        <% @delivery_price.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="box-body">
      <div class="form-group">
        <%= f.label :gr , class:"col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :gr, autofocus: true, class: "form-control", placeholder: t("delivery_prices.placeholder_gr") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :price , class:"col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :price, autofocus: true, class: "form-control", placeholder: t("delivery_prices.placeholder_price") %>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit  t('common.accept'), class: 'btn btn-info pull-right' %>
    </div><!-- /.box-footer -->
<%end%>
