<section class="content-header">
  <h1>
    <%=t('common.edit').upcase%>
    <small><%=@delivery_price.gr%></small>
  </h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
          <%= render 'admin/delivery_prices/form_edit' %>
      </div>
    </div>
  </div>
</section>

