<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('delivery_prices.name') %>
    <small><%=t('delivery_prices.list')%></small>
  </h1><br/>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
      </div>
      <div class="pull-left">
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-send"></i> <%= t('delivery_prices.list') %><%=" (#{@subtitle})" unless @subtitle.blank?%>
          <div class="pull-right">
            <div class="btn-group">
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr role="row">
                    <th><%=t('helpers.label.delivery_price.gr')%></th>
                    <th><%=t('helpers.label.delivery_price.price')%></th>
                    <th><%=t('admin_zone.global.actions')%> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @delivery_prices.each do |delivery_price| %>
                      <tr class="odd" role="row">
                        <td><%=delivery_price.gr%></td>
                        <td><%=delivery_price.price%></td>
                        <td>
                          <a class="btn btn-default btn-xs" href="<%=edit_admin_delivery_price_path(delivery_price)%>"><i class="fa fa-pencil-square-o"></i> <%=t('common.edit')%></a>
                          <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_delivery_price_path(delivery_price)%>"><i class="fa fa-trash"></i> <%=t('common.delete')%></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>