<section class="content-header">
  <h1>
    <%=t('common.new').upcase%>
  </h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <%= render 'admin/delivery_prices/form_new' %>
      </div>
    </div>
  </div>
</section>

