<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.users.name') %>
    <small><%= t('admin_zone.navbar.users.edit_user') %></small>
  </h1>
</section>

<section class="content">
  <div class="panel panel-default">
    <div class="panel-heading"> <strong class=""><%=t("admin_zone.users.edit")%></strong>
    </div>
    <div class="panel-body">
      <span class="list-group-item list-group-item-warning"><%=t("register.advertance_edit")%></span>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :password , class: "col-sm-3 control-label"%>
            <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t("register.password") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("register.password_confirm"),autocomplete: "off" %><br/><br/>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :email , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("register.email") , disabled: true%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :name, class: "form-control", placeholder: t("register.name") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :surname1 , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :surname1, class: "form-control", placeholder: t("register.surname1") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :surname2 , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :surname2, class: "form-control", placeholder: t("register.surname2") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :address, class: "form-control", placeholder: t("register.address") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone , class:"col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= f.text_field :phone, class: "form-control", placeholder: t("register.phone") %>
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-12">
              <%= f.submit t("common.edit"),class: "btn btn-success btn-sm align-right" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </div>
</section>