<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><%=t("register.register_title")%></strong>
        </div>
        <div class="panel-body">
          <span class="list-group-item list-group-item-warning"><%=t("register.advertance")%></span>
          <%=render 'form'%>
        </div>
        <div class="panel-footer">
          <%= link_to "<i class='fa fa-thumbs-o-up'></i> #{t('register.login')}".html_safe, new_session_path(resource_name) %>
          <span class="pull-right"><%= link_to "<i class='fa fa-unlock'></i> #{t('devise.links.forgot_pass')}".html_safe, new_user_password_path%></span>
        </div>
      </div>
    </div>
  </div>
</div>
