<div id="collapse0" class="panel-collapse collapse out">
  <div class="panel-body">
    <div class="row">
      <%=#TODO Falta la vista de las replicas, repasar estas y pasarlas por Ajax%>
      <%@post.comments.each do |comment|%>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 ">
                <span class="pull-left"><b><%=comment.user%></b></span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <span class="pull-right"><b>(<%=l comment.created_at, format: :long6%>)</b></span>
              </div>
            </div>
            <%=comment.body.html_safe%>
            <hr/>
          </div>
      <%end%>
    </div>
  </div>
</div>