<h1 style="color: #5e9ca0;">Su pedido con Ref: <%=@order.id%> ha cambiado de estado</h1>
<br/><br/>
<p align="center">
  <%=Rails.env.production?? image_tag("http://tejeycome.es/assets/logo.png"):image_tag("http://localhost:3000/assets/logo.png")%>
</p>
<h1><%=@order.user.name%></h1>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">DATOS DEL CLIENTE:</h2>
<ul style="list-style-type: square;">
  <li>Nombre: <%=@order.user.name%></li>
  <li>Apellidos: <%=@order.user.surname1%> <%=@order.user.surname2%></li>
  <li>Dirección de envio: <%=@order.user.address%></li>
  <li>Tel&eacute;fono: <%=@order.user.phone%></li>
  <li>Email: <%=@order.user.email%></li>
</ul>
<h2 style="color: #2e6c80;">DATOS DEL PEDIDO:</h2>
<ul style="list-style-type: square;">
  <li>Ref: <%=@order.id%></li>
  <li>Direcci&oacute;n de envio: <%=@order.address%></li>
  <li>M&eacute;todo de pago: <%=@order.pay_method%></li>
  <li>Estado del pedido: <b><%=@order.state%></b></li>
  <li>Código de seguimiento (<%=link_to 'www.correos.es', 'http://www.correos.es/ss/Satellite/site/aplicacion-1349167812834-herramientas_y_apps/detalle_app-sidioma=es_ES'  %>): <b><%=@order.cod_delivery%></b></li>
  <li>Comentario al pedido: <%=@order.comment.html_safe%></li>
</ul>
<h2 style="color: #2e6c80;">PRODUCTOS DEL PEDIDO:</h2>
<table style="background-color: #FFF8C9;border-spacing: 10px;border: 1px solid black" align="center">
  <thead>
  <tr>
    <td style="background:#0073b7;color:white;border: 1px solid black;margin: 0px !important;padding: 10px 50px;">REF.</td>
    <td style="background:#0073b7;color:white;border: 1px solid black;margin: 0px !important;padding: 10px 100px;">Nombre</td>
    <td style="background:#0073b7;color:white;border: 1px solid black;margin: 0px !important;padding: 10px 50px;">Cantidad</td>
    <td style="background:#0073b7;color:white;border: 1px solid black;margin: 0px !important;padding: 10px 50px;">Precio</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <%@order.solds.sort.each do |cart|%>
        <%@product=cart.product%>
        <td style="text-align: center;"><strong style="font-size: 17px; color: #2b2301;"> <%=@product.id%></strong></td>
        <td style="text-align: center;"><strong style="font-size: 17px; color: #2b2301;"><%=link_to @product.name, product_url(@product)  %></strong></td>
        <td style="text-align: center;"><strong style="font-size: 17px; color: #2b2301;"><%=cart.quantity%></strong></td>
        <td><strong style="font-size: 17px; color: #2b2301;"><span style="float: right !important;"><%=number_with_precision(cart.price, precision: 2).to_s+' €'%></span></strong></td>
        </tr>
    <%end%>
    <tr><td>&nbsp;</td><td>&nbsp;</td>&nbsp;<td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
      <td></td>
      <td></td>
      <td><span style="float: right !important;"><%= t('basket.stored_delivery_total') %></span></td>
      <td><span style="float: right !important;"><%=number_with_precision(@order.delivery_price, precision: 2).to_s+' €'%></span></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><strong style="font-size: 17px; color: #2b2301;"><span style="float: right !important;"><%= t('basket.stored_products_total') %></span></strong></td>
      <td><strong style="font-size: 17px; color: #2b2301;"><span style="float: right !important;"><%=number_with_precision(@order.price, precision: 2).to_s+' €'%></span></strong></td>
    </tr>
    </tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong><%=link_to 'TejeyCome.es', 'http://tejeycome.es'%> donde encontraras dulces, cocina, bordados y mucho ganchillo.</strong></p>
<p><strong>Telf: 627 98 08 77 </strong></p>
<p><strong>Email: tejeycome@gmail.com </strong></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>