<%@order=order%>
<%= form_for(@order, url: admin_order_path(@order), html: {multipart: true, class: 'form-horizontal'}) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :address, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_area :address, class: 'col-sm-12 ' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :pay_method, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.select :pay_method, options_for_select(payment_options,@order.pay_method), {}, { class: 'form-control'}%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :state, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.select :state, options_for_select(order_state,@order.state), {}, { class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cod_delivery, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :cod_delivery, class: "form-control", placeholder: t("helpers.label.order.cod_delivery") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :price, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :price, class: "form-control", placeholder: t("helpers.label.order.price") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :comment, class: 'col-sm-4 control-label' %><br/>
      <div class="col-sm-8">
        <%= f.cktext_area :comment, class: "form-control", placeholder: t("order.comment"),ckeditor: {language: 'es'} %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="send_mail_customer"> <%=t('admin_zone.orders.send_main_customer_on_change_order')%>
          </label>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t('admin_zone.orders.update'), class: "btn btn-block btn-primary btn-lg" %>
    </div>
<% end %>
