<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.orders.name') %>
    <small><%= t('admin_zone.navbar.orders.list') %></small>
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= form_for(:search, url: search_admin_orders_path, method: 'get', html: {class: 'form-inline'}) do |f| %>
            <div class="form-group">
              <%= f.text_field :text, placeholder: t('admin_zone.products.search'), class: 'form-control' %>
            </div>
            <%= f.submit t('common.search'), class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-shopping-cart"></i> <%= t('admin_zone.orders.list') %>
          <div class="pull-right">
            <div class="btn-group">
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <% if @orders.blank? %>
                  <span class="col-xs-12 text-center"><%= t('admin_zone.orders.orders_blank').upcase %></span>
              <% else %>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                      <tr>
                        <th><%= t('admin_zone.orders.details') %></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @orders.each do |order| %>
                          <tr class="odd" role="row">
                            <td>
                              <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                  <li class="active">
                                    <a href="#tab_<%= order.id %>_1" data-toggle="tab"><b><%= t('admin_zone.orders.resume') %></b></a>
                                  </li>
                                  <li>
                                    <a href="#tab_<%= order.id %>_2" data-toggle="tab"><b><%= t('admin_zone.orders.user') %></b></a>
                                  </li>
                                  <li>
                                    <a href="#tab_<%= order.id %>_3" data-toggle="tab"><b><%= t('admin_zone.orders.products') %></b></a>
                                  </li>
                                  <li>
                                    <a href="#tab_<%= order.id %>_4" data-toggle="tab"><b><%= t('admin_zone.orders.order_details') %></b></a>
                                  </li>

                                </ul>
                                <div class="tab-content">
                                  <div class="tab-pane active" id="tab_<%= order.id %>_1">
                                    <table class="table table-bordered">
                                      <tbody>
                                      <tr>
                                        <th>
                                          <%= t('helpers.label.order.price') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.sold.quantity') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.order.state') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.order.created_at') %>
                                        </th>
                                        <% unless order.cod_delivery.blank? %>
                                            <th>
                                              <%= t(t 'helpers.label.order.cod_delivery') %>
                                            </th>
                                        <% end %>
                                      </tr>
                                      <tr>
                                        <td>
                                          <%= order.price %>
                                        </td>
                                        <td>
                                          <%= order.solds.sum(:quantity) %>
                                        </td>
                                        <td>
                                          <%= order.state %>
                                        </td>
                                        <td>
                                          <%= l order.created_at, format: :long3 %>
                                        </td>
                                        <% unless order.cod_delivery.blank? %>
                                            <td>
                                              <%= order.cod_delivery %>
                                            </td>
                                        <% end %>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <div class="tab-pane" id="tab_<%= order.id %>_2">
                                    <table class="table table-bordered">
                                      <tbody>
                                      <tr>
                                        <th>
                                          <%= t('helpers.label.user.name') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.user.phone') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.user.email') %>
                                        </th>
                                      </tr>
                                      <tr>
                                        <td>
                                          <%= order.user.name %>
                                        </td>
                                        <td>
                                          <%= order.user.phone %>
                                        </td>
                                        <td>
                                          <%= order.user.email %>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                      <tbody>
                                      <tr>
                                        <th>
                                          <%= t('helpers.label.user.surname1') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.user.surname2') %>
                                        </th>
                                        <th>
                                          <%= t('helpers.label.user.address') %>
                                        </th>
                                      </tr>
                                      <tr>
                                        <td>
                                          <%= order.user.surname1 %>
                                        </td>
                                        <td>
                                          <%= order.user.surname2 %>
                                        </td>
                                        <td>
                                          <%= order.user.address %>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <div class="tab-pane" id="tab_<%= order.id %>_3">
                                    <% order.solds.in_groups_of(3).each do |group| %>
                                        <div class="row">
                                          <% group.each do |sold| %>
                                              <div class="col-lg-4 col-md-4 col-xs-12 thumb">
                                                <% if sold %>
                                                    <a class="btn btn-info btn-xs" role="button" data-toggle="collapse" href="#collapse-<%= sold.product.slug %>-<%= order.id %>" aria-expanded="false" aria-controls="collapseExample">
                                                      <i class="fa fa-eye"></i> <%= t('common.details') %>
                                                    </a>

                                                    <div class="collapse" id="collapse-<%= sold.product.slug %>-<%= order.id %>">
                                                      <div class="well">
                                                        <%= sold.product.name.upcase %><br/>
                                                        (<%= sold.product.category.name %>)<br/><br/>
                                                        <%= t('helpers.label.sold.price') %>: <%= sold.price %>€<br/>
                                                        <%= t('helpers.label.sold.quantity') %>: <%= sold.quantity %>
                                                        <br/>
                                                        <%= t('helpers.label.sold.total') %>
                                                        : <%= sold.price*sold.quantity %>€<br/>
                                                      </div>
                                                    </div>
                                                    <a class="thumbnail" href="#">
                                                      <%= image_tag sold.product.media, class: "img-responsive" %>
                                                    </a>
                                                    <%= link_to sold.product.name, product_path(sold.product) %>
                                                <% end %>
                                              </div>
                                          <% end %>
                                        </div>
                                    <% end %>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <div class="tab-pane" id="tab_<%= order.id %>_4">
                                    <div class="form-horizontal">
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.address'), class: 'col-sm-4 control-label' %>
                                        <div class="col-sm-8">
                                          <%= text_area_tag [], order.address, class: 'col-sm-12 ', readonly: true %>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.pay_method'), class: 'col-sm-4 control-label' %>
                                        <div class="col-sm-8">
                                          <%= select_tag [], options_for_select([order.pay_method]), {class: 'form-control', disabled: true} %>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.state'), class: 'col-sm-4 control-label' %>
                                        <div class="col-sm-8">
                                          <%= select_tag [], options_for_select([order.state]), {class: 'form-control', disabled: true} %>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.cod_delivery'), class: 'col-sm-4 control-label' %>
                                        <div class="col-sm-8">
                                          <%= text_field_tag [], order.cod_delivery, class: "form-control", disabled: true %>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.price'), class: 'col-sm-4 control-label' %>
                                        <div class="col-sm-8">
                                          <%= text_field_tag [], order.price, class: "form-control", placeholder: t("helpers.label.order.price"), disabled: true %>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <%= label_tag [], t('helpers.label.order.comment'), class: 'col-sm-4 control-label' %>
                                        <br/>

                                        <div class="col-sm-8">
                                          <%= order.comment.html_safe unless order.comment.nil?%>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <span class="badge"><strong><%= t('helpers.label.order.id') %></strong> <%= order.id %></span>
                                </div>
                                <!-- /.tab-content -->
                              </div>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
              <% end %>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                  <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                                    page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>