<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <br/><br/>
      </div>
      <div class="pull-left info">
        <p><%=current_user.name%></p>
        <p><small>(<%=t('admin_zone.global.admin_user')%>)</small></p>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header"><%=t('admin_zone.navbar.quick_access').upcase%></li>
      <li class="<%=set_active_admin_home_index%>"><a href="<%= admin_home_path %>"><i class="fa fa-circle-o text-red"></i> <span><%=t('admin_zone.navbar.home')%></span></a></li>
      <li><a href="<%=root_path%>"><i class="fa fa-circle-o text-yellow"></i> <span><%=t('admin_zone.navbar.return_store')%></span></a></li>
      <!--<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->

      <li class="header"><%=t('admin_zone.navbar.main_nav_title').upcase%></li>
      <li class="<%=set_active_admin_users%> treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span><%=t('admin_zone.navbar.users.name')%></span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_users_index%>"><a href="<%=admin_users_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.users.list')%></a></li>
          <!--<li class="<%=set_active_admin_users_new%>"><a href="#"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.users.create_user')%></a></li>-->
        </ul>
      </li>
      <li class="<%=set_active_admin_products%> treeview">
        <a href="#">
          <i class="fa fa-briefcase"></i>
          <span><%=t('admin_zone.navbar.products.name')%></span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_products_index%>"><a href="<%= admin_products_path %>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.products.list_products')%></a></li>
          <li class="<%=set_active_admin_products_new%>"><a href="<%=new_admin_product_path%>"><i class="fa fa-circle-o"></i><%=t('admin_zone.navbar.products.create_product')%> </a></li>
        </ul>
      </li>
      <li class="<%=set_active_admin_categories%> treeview">
        <a href="#">
          <i class="fa fa-tags"></i>
          <span><%=t('admin_zone.navbar.categories.name')%></span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_categories_index%>"><a href="<%= admin_categories_path %>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.categories.list')%></a></li>
        </ul>
      </li>
      <li class="<%=set_active_admin_delivery_prices%> treeview">
        <a href="#">
          <i class="fa fa-send"></i> <span> <%=t('admin_zone.navbar.delivery_prices.name')%></span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_delivery_prices_index%>"><a href="<%=admin_delivery_prices_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.delivery_prices.list')%></a></li>
          <li class="<%=set_active_admin_delivery_prices_new%>"><a href="<%=new_admin_delivery_price_path%>"><i class="fa fa-circle-o"></i> <%=t('common.new')%></a></li>
        </ul>
      </li>
      <li class="<%=set_active_admin_orders%> treeview">
        <a href="#">
          <i class="fa fa-shopping-cart "></i> <span><%=t('admin_zone.navbar.orders.name')%></span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_orders_index%>"><a href="<%=admin_orders_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.orders.list')%></a></li>
        </ul>
      </li>
      <li class="header"><%=t('admin_zone.navbar.main_nav_blog_title').upcase%></li>
      <li class="<%=set_active_admin_posts%> treeview">
        <a href="#">
          <i class="fa fa-cutlery "></i> <span> <%=t('admin_zone.posts.name')%></span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_posts_index%>"><a href="<%=admin_posts_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.posts.list')%></a></li>
          <li class="<%=set_active_admin_posts_new%>"><a href="<%=new_admin_post_path%>"><i class="fa fa-circle-o"></i> <%=t('common.new')%></a></li>
        </ul>
      </li>
      <li class="<%=set_active_admin_comments%> treeview">
        <a href="#">
          <i class="fa fa-comments"></i> <span> <%=t('admin_zone.comment.name')%></span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_comments_index%>"><a href="<%=admin_comments_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.comment.list')%></a></li>
        </ul>
      </li>
      <li class="<%=set_active_admin_post_categories%> treeview">
        <a href="#">
          <i class="fa fa-tags"></i>
          <span><%=t('admin_zone.navbar.categories.name')%></span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_post_categories_index%>"><a href="<%= admin_post_categories_path %>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.categories.list')%></a></li>
        </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>