<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <br/><br/>
      </div>
      <div class="pull-left info">
        <p><%=current_user.name%></p>
        <p><small>(<%=t('admin_zone.global.customer_user')%>)</small></p>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header"><%=t('admin_zone.navbar.quick_access').upcase%></li>
      <li class="<%=set_active_admin_home_index%>"><a href="<%= admin_home_path %>"><i class="fa fa-circle-o text-red"></i> <span><%=t('admin_zone.navbar.home')%></span></a></li>
      <li><a href="<%=root_path%>"><i class="fa fa-circle-o text-yellow"></i> <span><%=t('admin_zone.navbar.return_store')%></span></a></li>
      <!--<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->

      <li class="header"><%=t('admin_zone.navbar.main_nav_title').upcase%></li>
      <li class="<%=set_active_customer_user%> treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span><%=t('admin_zone.navbar.users.name2')%></span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_customer_user_update%>"><a href="<%= edit_user_registration_path %>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.users.edit_user')%></a></li>
        </ul>
      </li>

      <li class="<%=set_active_admin_orders%> treeview">
        <a href="#">
          <i class="fa fa-shopping-cart "></i> <span><%=t('admin_zone.navbar.orders.name')%></span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%=set_active_admin_orders_index%>"><a href="<%=admin_orders_path%>"><i class="fa fa-circle-o"></i> <%=t('admin_zone.navbar.orders.list')%></a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>