<div class="jumbotron">
<%= form_for(:search, url:   admin_check_to_direct_link_path , method: 'post', remote: true,html: {class: 'form'}) do |f| %>
    <div class="box-body">
        <div class="form-group">
          <%= f.text_field :url, placeholder: t('admin_zone.global.convert_url'), class: 'form-control input-lg' %>
          <%= f.submit t('common.accept'), class: 'btn btn-info' %><br/><br/>
          <div id="direct_link"></div>
        </div>
    </div>
<% end %>
</div>

