document.getElementById("num_products").innerHTML = "<%=total_products%>";
document.getElementById("num_products2").innerHTML = "<%=total_products%>";
$("#table_basket").html("<%= j render "layouts/table_basket"%>");
$("#order_cart").html("<%= j render "layouts/table_basket"%>");
window.location.reload();
