<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><%=t("devise.passwords.new_forgotten_pass")%></strong>
        </div>
        <div class="panel-body">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group">
                <%= f.label :password %><br />
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caracteres mínimos)</em><br />
                <% end %>
                <div class="col-sm-7">
                  <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "form-control" %>
                </div>
              </div>

              <div class="form-group last">
                <div class="col-sm-12">
                  <br/>
                  <%= f.submit t('common.edit'),class: "btn btn-success btn-md align-right" %>
                </div>
              </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "<i class='fa fa-thumbs-o-up'></i> #{t('register.login')}".html_safe, new_session_path(resource_name) %>
          <span class="pull-right"><%= link_to "<i class='fa fa-user-plus'></i> #{t('devise.links.sign_up')}".html_safe, new_user_registration_path%></span>
        </div>
      </div>
    </div>
  </div>
</div>
