<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><%=t("devise.links.forgot_pass")%></strong>
        </div>
        <div class="panel-body">
          <span class="list-group-item list-group-item-warning"><%=t("devise.passwords.advertisement")%></span><br/><br/>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email %><br />
                <div class="col-sm-7">
                <%= f.email_field :email, autofocus: true,class: "form-control" %>
                </div>
              </div>

              <div class="form-group last">
                <div class="col-sm-12">
                <br/>
                  <%= f.submit t('common.send'),class: "btn btn-success btn-md align-right" %>
                </div>
              </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "<i class='fa fa-thumbs-o-up'></i> #{t('register.login')}".html_safe, new_session_path(resource_name) %>
          <span class="pull-right"><%= link_to "<i class='fa fa-user-plus'></i> #{t('devise.links.sign_up')}".html_safe, new_user_registration_path%></span>
        </div>
      </div>
    </div>
  </div>
</div>