<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="hidden-xs carousel-indicators">
    <%@carousel_products.each_with_index do |product, index|%>
        <li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="<%='active' if index==0%>"></li>
    <%end%>
    <%@carousel_posts.each_with_index do |post, index|%>
        <li data-target="#carousel-example-generic" data-slide-to="<%=index+@carousel_products.count%>" class="<%='active' if index==0%>"></li>
    <%end%>
  </ol>
  <div class="carousel-inner">
    <%@carousel_products.each_with_index do |product,index|%>
        <div class="item <%='active' if index==0%>">
          <%= image_tag product.media,size: "500", class: "img-responsive center-block" %>
          <div class="carousel-caption">
            <%=link_to product.name+ " (#{product.price}€)", product_path(product)%>
          </div>
        </div>
    <%end%>
    <%@carousel_posts.each_with_index do |post,index|%>
        <div class="item">
          <%= image_tag post.media,size:"500", class: "img-responsive center-block" %>
          <div class="carousel-caption">
            <%=link_to post.title, blog_path(post)%>
          </div>
        </div>
    <%end%>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="fa fa-angle-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="fa fa-angle-right"></span>
  </a>
</div>