<div class="">
  <div class="row home_header">
    <div class="col-xs-12 col-md-6">
      <div class="center-block">
        <%= image_tag 'logo.png', class: 'img-responsive center-block' %>
        <h3 class="text-center text-green"><%=t('home.older')%></h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="center-block">
        <h1 class="handwriting center-block">" <%=t('home.description').html_safe%> " </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render 'home/carouser_home' %>
  </div>
  <br/>

  <div class="row">
    <div class="">
      <div class="col-xs-12 box_efect2">
        <div class="thumbnail boxeffect  home_padding">
          <h2><%= icon('slack') %> <%= t('home.activity5-title') %></h2>
          <p><%= t('home.activity5-description') %></p>
          <div class="row">
            <% @last_4_products.each do |product| %>
                <div class="col-xs-12 col-md-3">
                  <%= image_tag product.media, class: 'img-responsive' %>
                  <%=link_to product.name+ " (#{product.price}€)", product_path(product)%>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 box_efect2">
        <div class="thumbnail boxeffect  home_padding">
          <div class="row">
            <h2 class="pull-right"><%= t('home.activity6-title') %> <%= icon('cutlery') %> </h2>
          </div>
          <p><%= t('home.activity6-description') %></p>
          <div class="row">
            <% @last_4_posts.each do |post| %>
                <div class="col-xs-12 col-md-3">
                  <%= image_tag post.media, class: 'img-responsive' %>
                  <%=link_to post.title, blog_path(post)%>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
