<div id="credit_card_form" style="display: none" class="row">
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-info"></i> INFO</h4>
    <%=t('credit_card.info')%>
  </div>
  <%= f.fields_for @credit_card  do |ff| %>
      <div class="form-group col-md-6">
        <%= ff.label  :type %><br />
        <%= ff.select :type, options_for_select(credit_card_types),{},{class: 'form-control'} %>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :number %><br />
        <%= ff.text_field :number , placeholder: t('credit_card.placeholder_number'), class: 'form-control',maxlength: "16"%>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :expire_month %><br />
        <%= ff.text_field :expire_month, placeholder: t('credit_card.placeholder_expire_month'), class: 'form-control',maxlength: "2" %>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :expire_year %><br />
        <%= ff.text_field :expire_year, placeholder: t('credit_card.placeholder_expire_year'), class: 'form-control', maxlength: "4" %>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :first_name %><br />
        <%= ff.text_field :first_name, placeholder: t('credit_card.placeholder_first_name'), class: 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :last_name %><br />
        <%= ff.text_field :last_name , placeholder: t('credit_card.placeholder_last_name'), class: 'form-control'%>
      </div>
      <div class="form-group col-md-6">
        <%= ff.label  :cvv2 %><br />
        <%= ff.text_field :cvv2, placeholder: t('credit_card.placeholder_cvv2'), class: 'form-control',maxlength: "4" %>
        <br/>
      </div>
  <% end %>
</div>