<div class="box box-info boxeffect">
  <div class="box-header with-border">
    <h3 class="box-title"><%=t('order.order_data')%></h3>
  </div><!-- /.box-header -->
  <!-- form start -->
  <%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "") %> <%=t('common.errors_form_wrapper')%></h2>
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% if @credit_card.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@credit_card.errors.count, "") %> <%=t('common.errors_form_wrapper')%></h2>

            <ul>
              <% @credit_card.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_area :address,size: "40x3" %>
        </div>

        <div class="form-group">
          <%= f.label :pay_method %><br />
          <%= f.select :pay_method, options_for_select(payment_options),{},{class: 'form-control'} %>
        </div>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $("#order_pay_method").change(function(){
                    if($(this).children(':selected').text() == "<%=t('order.pay_method1')%>")
                    {
                        $('#credit_card_form').hide();

                    } else if($(this).children(':selected').text() == "<%=t('order.pay_method2')%>") {
                        $('#credit_card_form').hide();
                        alert("<%=t('order.alert_pay_method_paypal')%>");
                    } else if($(this).children(':selected').text() == "<%=t('order.pay_method3')%>") {
                        $('#credit_card_form').toggle();
                    }
                });
            });
        </script>
        <div id="credit_card_form" style="display: none" class="row"></div>
        <div class="form-group">
          <%= f.label :comment %><br />
          <%= f.text_area :comment,class: "form-control wysihtml5", placeholder: t("order.comment"),size: "40x10"  %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('order.submit'), class: "btn btn-block btn-primary btn-lg"%>
      </div>
  <% end %>
</div>
