<div class="box-header">
  <h3 class="box-title"></h3>
</div><!-- /.box-header -->
<div class="box-body no-padding">
  <div class="table-responsive">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <th class="">Ref.</th>
        <th class="hidden-sm hidden-xs text-center"><%= t('basket.stored_image') %></th>
        <th class="text-center"><%= t('basket.stored_product_title') %></th>
        <th class="text-center"><%= t('basket.stored_quantity') %></th>
        <th><%= t('basket.stored_price') %></th>
      </tr>
      <tr>
        <% @order.solds.each do |sold| %>
            <td class=""><%= sold.product.id %></td>
            <td class="hidden-sm hidden-xs text-center"><%= image_tag sold.product.media, size: "200x150" %></td>
            <td class="text-center"><%=link_to sold.product.name, product_path(sold.product)%></td>
            <td class="text-center"> <%= sold.quantity %> </td>
            <td><span class="pull-right"><%= number_with_precision(sold.price, precision: 2).to_s+' €' %></span></td>
            </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><span class="pull-right"><%= t('basket.stored_delivery_total') %></span></td>
          <td><span class="pull-right"><%=number_with_precision(@order.delivery_price, precision: 2).to_s+' €'%></span></td>
        </tr>
        <tr>
          <td class=""></td>
          <td class="hidden-sm hidden-xs text-center"></td>
          <td></td>
          <td><span class="pull-right"><%= t('basket.stored_total') %></span></td>
          <td><span class="pull-right"><%= number_with_precision(@order.price, precision: 2).to_s+' €' %></span></td>
        </tr>
        </tbody>
    </table>
  </div>
</div><!-- /.box-body -->
