<!-- Page Content -->
<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('order.new_order') %>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-default boxeffect">
        <div class="box-header">
          <h3 class="box-title"><%= t('order.client_data') %></h3>
        </div>
        <div class="box-body">
          <!-- Date range -->
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.name %>">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.surname1 %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.surname2 %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-map"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.address %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.phone %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= current_user.email %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <div class="box box-primary boxeffect">
        <div class="box-header ">
          <h3 class="box-title"><%= t('order.products_data') %></h3>
        </div>
        <div class="box-body">
          <div id="order_cart">
            <%= render 'layouts/table_basket' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 ">
      <%= render 'form' %>
    </div>
  </div>
</div>