<!-- Page Content -->
<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%=t('order.end_order')%>
        <small><%=t('order.small_end_order', ref: @order.id)%></small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-default">
        <div class="box-header">
          <h3 class="box-title"><%= t('order.client_data') %></h3>
        </div>
        <div class="box-body">
          <!-- Date range -->
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.user.name %>">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.user.surname1 %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.user.surname2 %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-map"></i>
                  </div>
                  <textarea cols="40" id="order_address" rows="2" class="form-control pull-right" id="" type="" disabled="" placeholder="<%= @order.user.address %>"></textarea>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.user.phone %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.user.email %>">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t('order.products_data') %></h3>

          <div id="order_cart">
            <%= render 'orders/show_products_cart' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t('order.data_order') %></h3>
          <div class="form-group">
            <%= label_tag t('helpers.label.order.id') %><br/>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-asterisk"></i>
              </div>
              <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.id %>">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <%= label_tag t('helpers.label.order.address') %><br/>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-map"></i>
              </div>
              <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.address %>">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <%= label_tag t('helpers.label.order.pay_method') %><br/>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-money"></i>
              </div>
              <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.pay_method %>">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <%= label_tag t('helpers.label.order.state') %><br/>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-star"></i>
              </div>
              <input class="form-control pull-right" id="reservation" type="text" disabled="" placeholder="<%= @order.state %>">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <%= label_tag t('helpers.label.order.comment') %><br/>
            <div class="input-group">
              <%= @order.comment.html_safe %>
            </div>
            <!-- /.input group -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>