<!-- form start -->

<%= form_for(@post,url: admin_post_path,html: { multipart: true }, class: 'form-horizontal') do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="box-body">
      <div class="form-group">
        <%= f.label :title , class:"col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :title, autofocus: true, class: "form-control tinymce", placeholder: t("helpers.label.post.title") %>
        </div>
      </div>
      <div class="form-group">

        <%= f.label :body , class:"col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.cktext_area :body, class: "form-control ",
                            placeholder: t("helpers.label.product.description"), rows: 15 ,ckeditor: {language: 'es'}%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :media , class:"col-sm-3 control-label" %>

        <div class="col-sm-9">
          <%= image_tag @post.media, size: "200x150" %>
          <%= f.text_field :media, class: "form-control", placeholder: t("helpers.label.post.media") %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :post_category_id %>
        <%= f.collection_select :post_category_id, PostCategory.order(:name), :id, :name, {prompt: t('admin_zone.categories.select_categorie')}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.label :draft, t('helpers.label.post.is_draft'), class:"col-sm-3 control-label" %>
        <div class="col-sm-1">
          <%= f.check_box :draft, class: "form-control" %>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit  t('common.edit'), class: 'btn btn-info pull-right' %>
    </div><!-- /.box-footer -->

<%end%>
