<div class="dropdown btn btn-warning dropdown-categories">
  <a href="#" aria-expanded="false" class="dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="">
    <%= t('admin_zone.home.by_categories') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="<%= admin_posts_path %>"> <%= t('product.all') %> </a></li>
    <% PostCategory.all.each do |category| %>
        <li>
          <a href="<%= category_admin_posts_path (category.name) %>"><%= category.name %></a>
        </li>
    <% end %>
  </ul>
</div>
