<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.posts.name') %>
    <small><%= t('admin_zone.navbar.posts.edit_post') %></small>
  </h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <%= render 'layouts/admin/widget_direct_link' %>
        <%= render 'admin/posts/form_edit' %>
      </div>
    </div>
  </div>
</section>

