<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.posts.name') %>
    <small><%=t('admin_zone.posts.list')%></small>
  </h1><br/>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= form_for(:search, url: search_admin_posts_path, method: 'get', html: {class: 'form-inline'}) do |f| %>
            <div class="form-group">
              <%= f.text_field :text, placeholder: t('admin_zone.posts.search'), class: 'form-control' %>
            </div>
            <%= f.submit t('common.search'), class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="pull-left">
        <%= link_to t('admin_zone.posts.draft')+" (#{Post.drafts.count})", sort_admin_posts_path('draf_posts'), class: 'btn btn-warning'%>
        <%=render 'admin/posts/widget_posts'%>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-comment"></i> <%= t('admin_zone.posts.list') %><%=" (#{@subtitle})" unless @subtitle.blank?%>
          <div class="pull-right">
            <div class="btn-group">
              <a href="<%= new_admin_post_path %>" class="btn btn-primary btn-xs" role="button"><%= t('admin_zone.navbar.posts.create_post') %></a>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                  <thead>
                  <tr role="row">
                    <th><%=t('helpers.label.post.title')%></th>
                    <th><%=t('helpers.label.post.media')%></th>
                    <th><%=t('helpers.label.post.draft')%></th>
                    <th><%=t('common.date')%></th>
                    <th><%=t('admin_zone.global.actions')%> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @posts.each do |post| %>
                      <tr>
                        <td><%=post.title%><br/><br/>[<%=post.post_category.name%>]</td>
                        <td><%= image_tag post.media, size: "200x150" %></td>
                        <td>
                          <%if post.draft%>
                              <i class="fa fa-close text-red"></i>
                          <%else%>
                              <i class="fa fa-check text-green"></i>
                          <%end%>
                        </td>
                        <td><%=t('common.created_at')%><br/><%= l post.created_at, format: :long3 %><br/><br/><%=t('common.updated_at')%><br/><%= l post.created_at, format: :long3 %></td>
                        <td class="text-right">
                          <a class="btn btn-default btn-xs" href="<%=admin_post_path(post)%>"><i class="fa fa-eye"></i> <%=t('common.show')%></a><br/><br/>
                          <a class="btn btn-default btn-xs" href="<%=edit_admin_post_path(post)%>"><i class="fa fa-pencil-square-o"></i> <%=t('common.edit')%></a><br/><br/>
                          <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_post_path(post)%>"><i class="fa fa-trash"></i> <%=t('common.delete')%></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                  <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                                    page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>