<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('blog.name') %>
        <span class="text-red">[<%= t('admin_zone.navbar.posts.example') %>]</span>
        <small><%= @post.title %></small>
      </h1>
      <div class="pull-right">
        <%= link_to t('common.edit'),  edit_admin_post_path(@post), class: 'btn btn-warning' %>
        <%= link_to t('admin_zone.navbar.posts.list'), admin_posts_path, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>

  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <small class="pull-left"><%= @post.post_category.name %></small>
          <i class="fa fa-comments pull-right"> <%= @post.comments.count %></i>
          <small class="pull-right"><%= l @post.updated_at, format: :long6 %></small>
        </div>
        <div class="page-header"></div>
        <div class="col-xs-12">
          <h2 class=""><i class="fa fa-globe"></i> <%= link_to @post.title.html_safe.upcase, blog_path(@post) %></h2>
        </div>
        <p class="center-block">
          <%= render 'layouts/photoswipe_template' %>

        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-xs-12">
            <a href="<%= @post.media %>" itemprop="contentUrl" data-size="1024x800">
              <img src="<%= @post.media %>" height="600" width="800" itemprop="thumbnail" alt="Image description" class="img-responsive center-block thumbnail"/>
            </a>
          </figure>
        </div>
        </p>
        <div class="post_body">
          <%= @post.body.html_safe %>
        </div>
      </div>
    </div>
  </section>
</div>
    