<!-- Page Content -->
<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%=t('how_do.name')%>
      </h1>
    </div>
  </div>
  <div class="box box-success">
    <div class="box-header with-border">
      <i class="fa fa-hand-spock-o"></i>
      <h2 class="box-title"><%=t('how_do.first_box_title')%></h2>
    </div><!-- /.box-header -->
    <div class="box-body">
<ul>
  <span class="pull-right"><%=link_to t('how_do.button_contact'),  contact_index_path , class: 'btn btn-block btn-success btn-lg'%></span>
  <li><%=t('how_do.first_box_1')%></li>
  <li><%=t('how_do.first_box_2')%></li>
        </ul>
      <%=t('how_do.first_box_3')%>
    </div><!-- /.box-body -->
  </div>
<br/><br/>
  <h3><%=t('how_do.second_box_title')%></h3>
  <dl class="">
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_1')%></dt>
    <dd><%=t('how_do.second_box_1')%></dd><br/>
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_2')%></dt>
    <dd><%=t('how_do.second_box_2')%></dd><br/>
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_3')%></dt>
    <dd><%=t('how_do.second_box_3')%></dd><br/>
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_4')%></dt>
    <dd><%=t('how_do.second_box_4')%></dd><br/>
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_5')%></dt>
    <dd><%=t('how_do.second_box_5')%></dd><br/>
    <dt><i class="fa fa-check-circle text-green"></i> <%=t('how_do.second_box_title_6')%></dt>
    <dd><%=t('how_do.second_box_6')%></dd>

  </dl>
</div>