<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><%=t("login.login_title")%></strong>

        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {multipart: true, class: 'form-vertical'}) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :email , class:" control-label" %>
                <div class="">
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("login.email") %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password , class: "control-label"%>
                <div class="">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t("login.password") %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset- col-sm-11">
                  <div class="checkbox">
                    <%= f.check_box :remember_me ,class:"col-sm-1" %>
                    <%= f.label :remember_me, t("login.remember_me") %>
                  </div>
                </div>
              </div>
              <div class="form-group last">
                <div class="col-sm-12">
                  <%= f.submit t("login.entrar"),class: "btn btn-success btn-sm align-left" %>
                  <%= link_to t("login.forgot_passw"), new_password_path(resource_name), class: "btn btn-default btn-sm align-right"%>
                </div>
              </div>
          <% end %>
        </div>
        <div class="panel-footer"><%= link_to t("login.signup"), new_registration_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
