<h1>De: <%=@message.name %></h1>
<h1>Con email: <%=@message.email %></h1>
<h1>Teléfono: <%=@message.phone %></h1><br/>

<h2>Asunto: <%=@message.subject%></h2>
<h3>Mensaje:</h3>
<%=@message.body.html_safe %>