<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('admin_zone.home.name') %></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-5">
              <h2 class=""><%=t('admin_zone.home.customer_last_order')%></h2>
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-xs-7 text-left">
              <% if @last_order.blank? %>
                  <br/><br/><br/><span class="col-xs-12 text-center"><%= t('admin_zone.orders.orders_blank').upcase %></span>
              <% else %>
              <div class="huge">
                <a href="/admin/orders/search?utf8=%E2%9C%93&search[text]=<%=@last_order.id%>&commit=Buscar" class="btn btn-box-tool pull-right"><i class="fa fa-eye fa-2x"><%=t('common.details')%></i></a>
                <strong><%= t('helpers.label.order.id') %>: </strong><%= @last_order.id %></div>
              <div class="huge">
                <strong><%= t('helpers.label.order.state') %>: </strong><%= @last_order.state %></div>
              <div class="huge">
                <strong><%= t('helpers.label.order.price') %>: </strong><%= @last_order.price %></div>
              <div class="huge">
                <strong><%= t('helpers.label.order.cod_delivery') %> (<%=link_to 'www.correos.es', 'http://www.correos.es/ss/Satellite/site/aplicacion-1349167812834-herramientas_y_apps/detalle_app-sidioma=es_ES'  %>): </strong><%= @last_order.cod_delivery %></div>
              <%end%>
            </div>
          </div>
        </div>
        <a href="<%= admin_orders_path %>">
          <div class="panel-footer">
            <span class="pull-left"><%= t('admin_zone.home.details') %></span>

            <div class="col-xs-4 col-xs-offset-3"><%= t('admin_zone.navbar.orders.name').upcase %></div>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>