<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('admin_zone.home.name') %></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">
                <strong><%= t('admin_zone.home.outstanding_payment') %>: </strong><%= Order.outstanding_payment.count %>
              </div>
              <div class="huge">
                <strong><%= t('admin_zone.home.pending_shipping') %>: </strong><%= Order.pending_shipping.count %></div>
              <div class="huge">
                <strong><%= t('admin_zone.home.orders_this_month') %>: </strong><%= Order.this_month.count %></div>
            </div>
          </div>
        </div>
        <a href="<%= admin_orders_path %>">
          <div class="panel-footer">
            <span class="pull-left"><%= t('admin_zone.home.details') %></span>

            <div class="col-xs-4 col-xs-offset-3"><%= t('admin_zone.navbar.orders.name').upcase %></div>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-briefcase fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><strong><%= t('admin_zone.home.total_products') %>: </strong><%= Product.all.count %>
              </div>
              <div class="huge">
                <strong><%= t('admin_zone.home.active_products') %>: </strong><%= Product.actives.count %></div>
              <div class="huge">
                <strong><%= t('admin_zone.home.deactivated_products') %>: </strong><%= Product.deactivates.count %>
              </div>
            </div>
          </div>
        </div>
        <a href="<%= admin_products_path %>">
          <div class="panel-footer">
            <span class="pull-left"><%= t('admin_zone.home.details') %></span>
            <div class="col-xs-4 col-xs-offset-3"><%= t('admin_zone.navbar.products.name').upcase %></div>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><strong><%= t('admin_zone.home.total_users') %>: </strong><%= User.all.count %></div>
              <div class="huge"><strong><%= t('admin_zone.home.admin_users') %>: </strong><%= User.admins.count %></div>
              <div class="huge"><strong><%= t('admin_zone.home.customer_users') %>: </strong><%= User.customers.count %>
              </div>
            </div>
          </div>
        </div>
        <a href="<%= admin_users_path %>">
          <div class="panel-footer">
            <span class="pull-left"><%= t('admin_zone.home.details') %></span>

            <div class="col-xs-4 col-xs-offset-3"><%= t('admin_zone.navbar.users.name').upcase %></div>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tags fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><strong><%= t('admin_zone.home.total_categories') %>: </strong><%= Category.all.count %>
              </div>
              <div class="huge">
                <strong><%= t('admin_zone.home.main_categories') %>: </strong><%= Category.mains.count %></div>
              <div class="huge">
                <strong><%= t('admin_zone.home.total_subcategories') %>: </strong><%= Category.subcategories.count %>
              </div>
            </div>
          </div>
        </div>
        <a href="<%= admin_categories_path %>">
          <div class="panel-footer">
            <span class="pull-left"><%= t('admin_zone.home.details') %></span>

            <div class="col-xs-4 col-xs-offset-3"><%= t('admin_zone.navbar.categories.name').upcase %></div>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header ui-sortable-handle">
          <i class="fa fa-calendar"></i><i class="fa fa-shopping-cart "></i>

          <h3 class="box-title"><%= t('admin_zone.graphical_statistics.tittle_this_month') %>
            (<%= Order.this_month.sum(:price) %>€)</h3>
        </div>
        <div class="box-body">
          <%= area_chart @area_chart_orders_this_month,
                         library: {hAxis: {title: t('admin_zone.graphical_statistics.x_date')},
                                   vAxis: {title: t('admin_zone.graphical_statistics.y_price')}},
                         discrete: true %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box box-info">
        <div class="box-header ui-sortable-handle">
          <i class="fa fa-briefcase"></i>

          <h3 class="box-title"><%= t('admin_zone.graphical_statistics.tittle_products_by_categorie') %>
            </h3>
        </div>
        <div class="box-body">
          <%= pie_chart @pie_products_by_main_categories %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="box box-info">
        <div class="box-header ui-sortable-handle">
          <i class="fa fa-users"></i>

          <h3 class="box-title"><%= t('admin_zone.graphical_statistics.title_users_registered_this_year') %>
            </h3>
        </div>
        <div class="box-body">
          <%= column_chart @column_chart_by_users,discrete: true %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>