<!-- Modal -->
<div class="modal fade" id="create_subcategory_<%=@cat.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-left" id="myModalLabel"><%=t('admin_zone.categories.new_subcategory')%> (<%=@cat.name%>)</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@category, :url => admin_categories_path, html: {multipart: true}, class: '') do |f| %>
            <% if @category.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@category.errors.count, "") %> <%= t('common.errors_form_wrapper') %></h2>
                  <ul>
                    <% @category.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <%= f.hidden_field :parent_id, value: @cat.id%>
            <div class="form-group text-left">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: "form-control", placeholder: t("helpers.label.category.name") %>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('common.cancel') %></button>
              <%= f.submit  t('common.accept') ,class: " btn btn-primary"%>
            </div>
        <% end %>
        </div>
  </div>
</div>