<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        <%= t('admin_zone.categories.name') %>
        <small><%= t('admin_zone.navbar.categories.list') %></small>
      </h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</section>

<section class="content-header">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-tags"></i> <%= t('admin_zone.categories.list') %>
          <div class="pull-right">
            <div class="btn-group">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                      data-target="#create_category">
                <%= t('admin_zone.navbar.categories.create_category') %>
              </button>
              <%= render 'modal_create_category' %>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr>
                    <th><%= t('helpers.label.category.name') %></th>
                    <th><%= t('helpers.label.category.sub_categories') %></th>
                    <th><%= t('admin_zone.categories.actions_categories') %> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @categories.each do |category| %>
                      <% @cat=category %>
                      <tr class="odd" role="row">
                        <td><%= category.name %>
                        </td>
                        <td>
                          <% category.subcategories.each do |sub_category| %>
                              <% @sub_cat=sub_category %>

                              <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit_sub_category_<%= sub_category.id %>">
                                <i class="fa fa-pencil-square-o"></i> <%= t('common.edit') %>
                              </button>
                              <%= render 'modal_edit_subcategory' %>
                              <a class="btn btn-warning btn-xs" data-method="delete" href="<%= admin_category_path(sub_category) %>">
                                <i class="fa fa-trash"></i> <%= t('admin_zone.categories.destroy_subcategory') %>
                              </a>
                              <%= sub_category.name %>
                              <br/>
                          <% end %>
                        </td>
                        <td class="text-right">
                          <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#create_subcategory_<%= category.id %>">
                            <i class="fa fa-star-o"></i> <%= t('admin_zone.categories.new_subcategory') %>
                          </button>
                          <%= render 'modal_create_subcategory' %>
                          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit_category_<%= category.id %>">
                            <i class="fa fa-pencil-square-o"></i> <%= t('common.edit') %>
                          </button>
                          <%= render 'modal_edit_category' %>
                          <a class="btn btn-warning btn-xs" data-method="delete" href="<%= admin_category_path(category) %>">
                            <i class="fa fa-trash"></i> <%= t('common.delete') %>
                          </a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-8">
              <div id="morris-bar-chart"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>
