<div class="box-body">
<%= form_for(@product,:url =>  admin_product_path(@product) ,html: { multipart: true }, class: '') do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "") %> <%=t('common.errors_form_wrapper')%></h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control",placeholder: t("helpers.label.product.name") %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.cktext_area :description, class: "form-control ",
                        placeholder: t("helpers.label.product.description"), rows: 15 ,ckeditor: {language: 'es'}%>
    </div>

    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: "form-control", placeholder: t("helpers.label.product.price") %>
    </div>

    <div class="form-group">
      <%= f.label :gr %><br>
      <%= f.text_field :gr, class: "form-control", placeholder: t("helpers.label.delivery_price.gr") %>
    </div>

    <div class="form-group">
      <%= f.label :media , class:"" %><br/>
      <%= f.text_field :media, class: "form-control", placeholder: t("helpers.label.product.media") %>
      <%= image_tag @product.media,class:"img-responsive" %>
    </div>

      <div class="form-group">
        <%= f.label :category_id  %>
         <%= f.collection_select :category_id, Category.order(:name),:id,:name,{},{class: 'form-control'} %>
      </div>

    <div class="checkbox">
      <%= f.label :active do %><br>
          <%= f.check_box :active, class: "checkbox" %>
          <b><%=t('helpers.label.product.active')%></b>
      <%end%>
    </div>
      </div>
      <div class="box-body">
    <div class="form-group">
      <%= f.submit t('common.accept'), class:"form-control btn btn-success"%>
    </div></div>
<% end %>