<section class="content">
<div class="box boxeffect  box-warning">
  <div class="box-header with-border">
    <h3 class="box-title"><%=t('admin_zone.navbar.product_pictures.name')%></h3>
  </div><!-- /.box-header -->
  <div class="box-body">
      <%= form_for(@product_picture,url:  admin_product_product_pictures_path(@product), class: "form-group") do |f| %>
          <%=f.text_field :media, class: "form-control", value: nil%>
      <div class="box-footer">
        <div class="form-group">
          <%= f.submit t('admin_zone.navbar.product_pictures.upload'),class: 'btn btn-warning btn-round' %>
        </div></div>
    <%end%>
  </div><!-- /.box-body -->
  <hr/>
    <div class="row box-body">
      <% @product.product_pictures.in_groups_of(2).each do |group| %>
          <% group.each do |product_picture| %>
                    <div class="col-lg-6 col-md-6 col-xs-12 thumb">
                      <%if product_picture%>
                          <a class="btn btn-danger btn-xs" data-method="delete"
                             href="<%= admin_product_product_picture_path(@product,product_picture) %>">
                            <i class="fa fa-trash"></i> <%= t('common.delete') %>
                          </a>
                          <a class="thumbnail" href="#">
                            <%= image_tag product_picture.media, class: "img-responsive"%>
                          </a>

                      <%end%>
                    </div>
          <% end %>
      <% end %>
    </div>
</div>
  </section>
