<div class="dropdown btn btn-warning dropdown-categories">
  <a href="#" aria-expanded="false" class="dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="">
    <%= t('admin_zone.home.by_categories') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="<%= admin_products_path %>"> <%= t('product.all') %> </a></li>
    <% Category.mains.each_with_index do |category, index| %>
        <% if category.have_subcategories? %>
            <li class="dropdown-submenu">
              <a tabindex="<%= index %>"><%= category.name %></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">
                  <li><a tabindex="<%= index %>" href="<%=  category_admin_products_path(category.name) %>"><%= t('product.all') %></a></li>
                <% category.subcategories.each do |subcategory| %>
                    <li>
                      <a  tabindex="<%= index %>" href="<%=  category_admin_products_path(subcategory.name) %>"><%= subcategory.name %></a></a>
                    </li>
                <% end %>
              </ul>
            </li>
        <% else %>
            <li>
              <a href="<%= category_admin_products_path (category.name) %>"><%= category.name %></a>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
