<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.products.name') %>
    <small><%=t('admin_zone.navbar.products.list_products')%></small>
  </h1><br/>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= form_for(:search, url: search_admin_products_path, method: 'get', html: {class: 'form-inline'}) do |f| %>
            <div class="form-group">
              <%= f.text_field :text, placeholder: t('admin_zone.products.search'), class: 'form-control' %>
            </div>
            <%= f.submit t('common.search'), class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="pull-left">
        <%= link_to t('admin_zone.home.active_products')+" (#{Product.actives.count})", sort_admin_products_path('active_products'), class: 'btn btn-warning'%>
        <%= link_to t('admin_zone.home.deactivated_products')+" (#{Product.deactivates.count})", sort_admin_products_path('deactivated_products'), class: 'btn btn-warning'%>
        <%=render 'admin/products/widget_products'%>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-briefcase"></i> <%= t('admin_zone.products.list') %><%=" (#{@subtitle})" unless @subtitle.blank?%>
          <div class="pull-right">
            <div class="btn-group">
              <a href="<%= new_admin_product_path %>" class="btn btn-primary btn-xs" role="button"><%= t('admin_zone.navbar.products.create_product') %></a>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr>
                    <th><%= t('helpers.label.product.id') %> / <%= t('helpers.label.product.name') %> / <%=t('helpers.label.category.name') %></th>
                    <th><%= t('helpers.label.product.media') %></th>
                    <th><%= t('helpers.label.product.price') %></th>
                    <th><%= t('helpers.label.product.active') %></th>
                    <th><%= t('admin_zone.global.actions') %> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @products.each do |product| %>
                      <tr class="odd" role="row">
                        <td>
                          <span class="badge"><strong><%= t('helpers.label.product.id') %></strong> <%= product.id %></span><br/>
                          <%= product.name %><br/>(<%=product.category.name%>)
                        </td>
                        <td><%= image_tag product.media, size: "200x150" %></td>
                        <td><%= product.price %></td>
                        <td>
                          <%if product.active%>
                              <i class="fa fa-check text-green"></i>
                          <%else%>
                              <i class="fa fa-close text-red"></i>
                          <%end%>
                        </td>
                        <td class="text-right">
                          <a class="btn btn-default btn-xs" href="<%= edit_admin_product_path(product) %>"><i class="fa fa-pencil-square-o"></i> <%= t('common.edit') %>
                          </a>
                          <a class="btn btn-danger btn-xs" data-method="delete" href="<%= admin_product_path(product) %>"><i class="fa fa-trash"></i> <%= t('common.delete') %>
                          </a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                  <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                                    page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>