<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.products.name') %>
    <small><%= t('admin_zone.navbar.products.create_product') %></small>
  </h1>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t('admin_zone.navbar.products.create_product') %></h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/admin/widget_direct_link' %>
        <%= render 'new_form' %>
      </div>
    </div>
  </div>
</section>







