<div class="box box-success">
  <div class="box-header with-border">
    <i class="fa fa-hand-spock-o"></i>
    <h2 class="box-title"><%=t('blog.box_title').html_safe%></h2>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ul>
      <span class="pull-right"><%=link_to t('blog.box_button'),  contact_index_path , class: 'btn btn-block btn-success btn-lg'%></span>
      <li><%=t('blog.box_li1')%></li>
      <li><%=t('blog.box_li2')%></li>
    </ul>
    <%=t('blog.box_body')%>
  </div><!-- /.box-body -->
</div>