<div class="collapse" id="createComment">
  <div class="well">
    <%= form_for(@comment, url: blog_comments_path(@post), html: {multipart: true}) do |f| %>
        <% if @comment.errors.any? %>
            <div class="alert alert-danger alert-dismissable">
              <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
              <h2><%= pluralize(@comment.errors.count, 'Problema') %></h2>
              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <span class="text-red"> *</span> <%= f.label :user %>
              <%= f.text_field :user, class: 'form-control' %>
              <input type="text" name="name" class="hidden">
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <span class="text-red"> *</span> <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control'%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <span class="text-red"> *</span> <%= f.label :body %>
          <%= f.text_area :body, size: '20x5', class: 'form-control wysihtml5' %>
        </div>
        <div class="form-group">
          <span class="text-red"> *</span> <%= f.label :humanizer_answer, @comment.humanizer_question %>
          <%= f.text_field :humanizer_answer,class: 'form-control' %>
          <%= f.hidden_field :humanizer_question_id %>
        </div>
        <%= f.submit t('common.new'), class: 'btn btn-primary btn-xl btn-round' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @comments.each do |comment| %>
      <div class="col-lg-6 col-md-6 col-xs-12 ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 ">
            <span class="pull-left"><b><%= comment.user %></b></span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <span class="pull-right"><b>(<%= l comment.created_at, format: :long6 %>)</b></span>
          </div>
        </div>
        <%= comment.body.html_safe %>
        <hr/>
      </div>
  <% end %>
</div>
