<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<%Post.years.each_with_index do |year,index|%>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%='year-'+year.to_s%>" aria-expanded="true" aria-controls="<%='year-'+year.to_s%>">
          <%=year.to_s%> <i class="icon-hand-left icon-cogs"></i>
        </a>
      </h4>
    </div>
    <div id="<%='year-'+year.to_s%>" class="panel-collapse collapse <%if index==0%>in<%end%>" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          <%Post.by_year(year.to_s).each do |post|%>
          <li><%=link_to post.title.html_safe.upcase,blog_path(post)%></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
<%end%>
</div>