<ul class="list-group ">
  <%PostCategory.all.each do |post_category|%>
      <li class="list-group-item"><%=link_to post_category.name.upcase, category_blog_index_path(post_category.name)%></li>
  <%end%>
</ul>