<div class="container-fluid">
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <table width="100% ">
          <tr>
            <th><%= wicked_pdf_image_tag 'logo.png' %></th>
            <th><%= @qrcode.html_safe %><br/><%= @url %></th>
          </tr>
        </table>
        <br/><br/>
        <table align="center" valign="center">
          <tr>
            <th>
              <h1 class=""> <%= @post.title.html_safe.upcase %></h1>
            </th>
          </tr>
        </table>
        <div>
          <table align="center" valign="center">
            <tr>
              <th>
                <img src="<%= @post.media %>" width="500"/>
              </th>
            </tr>
          </table>
        </div>
        <div class="post_body">
          <%= @post.body.html_safe %>
        </div>
      </div>
    </div>
  </section>
  <br/><br/><br/>
  <section>
    <div class="box">
      <table align="center" valign="center" width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000">
        <tr>
          <th>
        <h2><%= t('blog.box_title').html_safe %></h2>
      <div class="box-body">
          <%= t('blog.box_li1') %>
        <br/>
          <%= t('blog.box_li2') %>
        <br/><br/>
        <table align="center" valign="center" width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000">
          <tr>
            <th>
              <span ><%= link_to t('blog.box_button'), @contact_path %></span>
            </th>
          </tr>
        </table>
        <%= t('blog.box_body') %>
      </div><!-- /.box-body -->
          </th>
        </tr>
      </table>
    </div>
  </section>
</div>