<section class="content-fluid ">
  <br/>
  <%=render 'box_cooking_in_your_house'%>

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('blog.name') %>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <div class="col-xs-12 col-md-8">
    <% @posts.each do |post| %>
        <div class="invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <small class="pull-left"><%= post.post_category.name %></small>
                <i class="fa fa-comments pull-right"> <%= post.comments.count %></i>
                <small class="pull-right"><%= l post.updated_at, format: :long6 %></small>
              </div>
              <div class="page-header"></div>
              <div class="col-xs-12">
                <h2 class=""><i class="fa fa-globe"></i> <%= link_to post.title.html_safe.upcase, blog_path(post) %>
                </h2>
              </div>
              <% if post.media != '/assets/missing_photo.png' %>
                  <div class="col-xs-12 col-md-6">
                    <%= image_tag post.media, size: '400x800', class: "img-responsive thumbnail_border" %>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <span class="proyect-description-big"><%= Sanitize.fragment(post.body).split[0...50].join(' ') %>
                      ... <%= link_to t('blog.read_more'), blog_path(post) %></span>
                  </div>
              <% else %>
                  <span class="proyect-description-big"><%= Sanitize.fragment(post.body).split[0...80].join(' ') %></span>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-4">
    <section class="invoice">

      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header text-center">
            <%= t('blog.widget_search_post_category') %>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <%= render 'widget_post_categories' %>
      </div>
      <!-- /.row -->

      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header text-center">
            <%= t('blog.widget_seach_title') %>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <%= render 'widget_post_history' %>
      </div>
      <!-- /.row -->
    </section>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                        page_gap: t('will_paginate.page_gap'), class: 'pagination' %>
    </div>
  </div>
</section>