<div class="container-fluid">
  <br/>
  <%=render 'box_cooking_in_your_house'%>
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('blog.name') %>
        <small><%= @post.title %></small>
      </h1>
    </div>
  </div>

  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <small class="pull-left"><%= @post.post_category.name %></small>
          <i class="fa fa-comments pull-right"> <%= @post.comments.count %></i>
          <small class="pull-right"><%= l @post.updated_at, format: :long6 %></small>
        </div>
        <div class="page-header"></div>
        <div class="col-xs-12">
          <h2 class=""><i class="fa fa-globe"></i> <%= link_to @post.title.html_safe.upcase, blog_path(@post) %></h2>
        </div>
        <p class="center-block">
          <%= render 'layouts/photoswipe_template' %>

        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-xs-12">
            <a href="<%= @post.media %>" itemprop="contentUrl" data-size="1024x800">
              <img src="<%= @post.media %>" height="600" width="800" itemprop="thumbnail" alt="Image description" class="img-responsive center-block thumbnail thumbnail_border"/>
            </a>
          </figure>
        </div>
        </p>
        <div class="post_body">
          <%= @post.body.html_safe %>
        </div>
		<!--
        <a href="<%= do_pdf_blog_index_path(@post,format: :pdf) %>" class="pull-right">
          <img src="<%= image_url("pdf_download.png") %>"><br/><%=t('blog.download_post_pdf')%>
        </a>		
        <br/>
		-->
        <%= render 'layouts/social_share' %>
        <div class="row">
          <div class="col-xs-12">
            <br/><br/>

            <h2 class="page-header text-center">
              <i class="fa fa-comments"></i> <%= t('blog.create_comment') %>
              <a class="btn btn-default btn-xl btn-round" role="button" data-toggle="collapse" href="#createComment" aria-expanded="false" aria-controls="collapseExample">
                <%= t('blog.do_comment') %>
              </a>
            </h2>
            <%= render 'blog/widget_post_comments' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
    