<section class="content-fluid ">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t('contact.main_title') %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box box-primary boxeffect">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t('contact.form_contact_title') %></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_for @message, url: contact_index_path, html: {role: "form"} do |f| %>
              <% if @message.errors.any? %>
                  <div class="alert alert-danger alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <h2><%= pluralize(@message.errors.count, 'Problema') %></h2>
                    <ul>
                      <% @message.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="text-red"> *</span> <%= f.label :name %>
                    <%= f.text_field :name, placeholder: t('contact.placeholder_name'),
                                     class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="text-red"> *</span> <%= f.label :surname %>
                    <%= f.text_field :surname, placeholder: t('contact.placeholder_surname'),
                                     class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="text-red"> *</span> <%= f.label :email %>
                    <%= f.email_field :email, placeholder: t('contact.placeholder_email'),
                                     class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, placeholder: t('contact.placeholder_phone'),
                                     class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.text_field :subject, placeholder: t('contact.placeholder_subject'), class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.text_area :body,placeholder: t('contact.placeholder_body'), class: "form-control wysihtml5", size: '10x10'%>
              </div>
              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> <%= t('common.attachment_email') %>
                  <%= f.file_field :file %>
                </div>
                <p class="help-block"></p>
              </div>
              <div class="form-group">
                <%= label_tag :humanizer_answer, controller.humanizer_question %>
                <%= text_field_tag :humanizer_answer,nil,class: 'form-control' %>
                <%= hidden_field_tag :humanizer_question_id, controller.humanizer_question_id %>
              </div>
              <div class="box-footer">
                <div class="pull-right">
                  <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary") do %>
                      <i class="fa fa-envelope-o"></i> <%= t('common.send') %>
                  <% end %>
                </div>
              </div>
              <!-- /.box-footer -->
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="well boxeffect">
        <div class="center-block">
        <img  title="" src="/assets/logo.png" class="img-responsive center-block" alt="logo" >
        </div>
          <br/><br/>

        <div class="col-xs-5">
          <%= image_tag 'raquel.png',class: 'img-responsive center-block thumbnail_border' %>
        </div>
        <div class="col-xs-7">
          <div class="bubble ">
            Hola soy Raquel y vivo en Ciudad Real<br/>
            ¿Te gustaría contactar conmigo? Puedes hacerlo mediante el formulario de esta página o
            por medio de los contactos de aquí abajo.
          </div>
        </div>
        <br/>
        <table align="">
          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
              </span>
            </td>
            <td class="little-padding-left">
              <h3>http://TejeyCome.es</h3>
            </td>
          </tr>
          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
              </span>
            </td>
            <td class="little-padding-left">
              <h3>627 98 08 77</h3>
            </td>
          </tr>
          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="little-padding-left">
              <h3>TejeyCome@gmail.com</h3>
            </td>
          </tr>
          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="little-padding-left">
              <p><a href="https://www.facebook.com/tejeycome"><h3>Facebook</h3></a></p>
            </td>
          </tr>

          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="little-padding-left">
              <p><a href="https://twitter.com/tejeycomeweb"><h3>Twitter</h3></a></p>
            </td>
          </tr>

          <tr>
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="little-padding-left">
              <p><a href="https://www.pinterest.com/tejeycome/"><h3>Pinterest</h3></a></p>
            </td>
          </tr>
        </table>
<br/><br/>

        <img src="/assets/qr.png" class="img-responsive center-block" width="50%" height="50%">

      </div>

    </div>
  </div>
</section>