/*
 *= require font-awesome
 *= require ionicons
 *= require bootstrap-wysihtml5
 *= require photoswipe
 *= require admin_lte/ltr/admin_lte
 *= require bootstrap-submenu.min
 *= require bootstrap-wysihtml5
 *= require cookies_eu
*= require_self
*= require_tree .
*/

.vcenter {
  display: flex;
  align-items: center;
}

////////////////  boxeffect
.boxeffect {
  position: relative;
}

.boxeffect:before, .boxeffect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.boxeffect:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.thumbnail {
  border: 2px solid rgba(212, 255, 201, 0.75);

}

.thumbnail_border {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);

}

.cart_product_size {
  min-height: 500px;
}

//////////////// navbars
.adjust-main-navbar {
  margin-top: 50px;
  background: #A0CE4E;
}

.navbar li {
  font-size: 20px;
}

.navbar-nav {
  float: none;
  margin: 0;
}

.divide-nav {
  height: 42px;
  background-color: #A0CE4E;
  margin-bottom: 0px;
}

.navbar > .container {
  width: auto;
}

.navbar-brand-xs-resize {
  width: 80%;
  height: 80%;
}

.navbar-toggle {
  color: #090909;
  border: 0;
  margin: 0;
  padding: 15px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #363636;
  padding-top: 10px;
  padding-bottom: 0px;

}

.navbar-default {
  border-color: #A0CE4E;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: blue;
}

.navbar-fixed-top {
  background-color: lightyellow;
  background-repeat: repeat-x;
  font-size: 20px;
}

.navbar-nav > .active > a {
  border: 1px solid #A0CE4E;
  border-bottom: 15px solid #A0CE4E;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #f1ffe2;
}

.navbar-toggle {
  color: #090909;
}

.divide-text {
  color: black;
  line-height: 20px;
  font-size: 20px;
}

.affix {
  top: 50px;
  width: 100%;
}

.filler {
  min-height: 0px;
}

.navbar-form {
  padding-left: 0;
}

.navbar-collapse {
  padding-left: 0;
}

.navbar-brand {
  padding: 6px 5px;
  padding-top: 15px;
}

.home_padding {
  padding-left: 20px;
  padding-right: 20px;
  height-min: 300px;
}
.navbar .dropdown-menu{
  background: #f1ffe2;
  border: 1px solid #A0CE4E;
}
////////////////////////carousel
.carousel-control.left {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #A0CE4E;
  border-radius: 10px;
  cursor: pointer;
}

.carousel-indicators .active {
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: #648632;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption a {
  color: whitesmoke;
  background: #648632;
}

////////////////////////carousel

//////////////////////// adsresponsive
.embed-container {
  position: relative;
  padding-bottom: 104px;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
//////////////////////// adsresponsive

/////////////////////// home
.home_header {
  border: 1px solid #b6b6b6;
  background: #FFEEEE; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE , #DDEFBB); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE , #DDEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/////////////////////// home

/////////////////////// products
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}
.dropdown-menu{
  background: #d4efff;
  font-size: 20px;
  border: 1px solid #3c8dbc;
}
.dropdown-menu > li > a{
  color: black;
}
/////////////////////// products

/////////////////////// contact
.bubble {
  position: relative;
  background: #FFFFCC;
  border: 1px solid #FFCC00;
  max-width:500px;
  padding:10px;
  font-family:arial;
  margin:0 auto;
  font-size:14px;
  border-radius:6px;
  font-family: 'Ladybug Love Demo';
  font-size: 18px;

}
.bubble:after,
.bubble:before {
  right: 100%;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bubble:after {
  border-color: rgba(255, 255, 204, 0);
  border-right-color: #FFFFCC;
  border-width: 15px;
  margin-top: -15px;
}
.bubble:before {
  border-color: rgba(255, 204, 0, 0);
  border-right-color: #FFCC00;
  border-width: 16px;
  margin-top: -16px;
}

/////////////////////// contact

/////////////// ajustes por tamaño
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .text-mobile {
    font-size: 14px;
  }
  .divide-text {
    font-size: 15px;
  }
  .adjust-main-navbar {
    margin-top: 58px;
  }
  .divide-nav {
    height: 33px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}

.main_adjust {
  padding-top: 20px;
}

body {
  background-image: url("background_main.png");
  background-repeat: repeat;
  font-size: 18px;
  color: #181818;
}

.well {
  background-color: #f5f5f5;
  border: 2px solid #b6b6b6;
}

.page-header {
  padding-top: 5px;
  border-bottom: 1px solid #B1B1B1;
}

.price_product {
  font-size: 2em;
  color: #42ca87;
}

.table_products {
  width: 100%;
}

.btn-app {
  min-width: 70px;
}

.modal-dialog {
  width: 95%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #dadada;
}

//////////// mapa google maps
.map_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map_container .map_canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

//////////// mapa google maps
.little-padding-left {
  padding-left: 10px;
}

///////////// submenus en barra principal

.modal a {
  color: #fff;
}

.modal a:hover {
  color: #424242;
}

.modal button:hover {
  color: #424242;
}

.dropdown-menu > .divider {
  background-color: #cbcbcb;
}

.clock_admin {
  color: #fff;
  padding: 15px 15px;
  float: left;
}

//////////// errores
.field_with_errors {
  padding: 2px;
  background-color: red;

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  float: none;
  margin: 0 auto;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}

.adjust_show_products {
  padding-top: 0px;
  padding-bottom: 20px;
}

////////// Tipos de letra

@font-face {
  font-family: 'Nunito';
  src: asset_url('Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: asset_url('Roboto-Light.ttf');
}

@font-face {
  font-family: 'Ladybug Love Demo';
  src: asset_url('Ladybug-Love-Demo.ttf');
}

@font-face {
  font-family: 'Silent-Reaction';
  src: asset_url('Silent-Reaction.ttf');
}

h1, h2, h3, h4, h5 {
  font-family: 'Ladybug Love Demo';
}

body {
  font-family: 'Roboto';
}

.navbar li {
  font-family: 'Nunito';
}

.handwriting {
  font-family: 'Silent-Reaction';
}

////////// Tipos de letra
////////// footer
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 1px 10px;
  margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #ffffff;
}

.footer-distributed a {
  color: #ffffff;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 23%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

.navbar-toggle {
  padding: 15px 5px;
}

/////////////// compartir por Whatsapp
.btn-whatsapp {
  color: #ffffff;
  background-color: #1e7300;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-whatsapp:focus,
.btn-whatsapp.focus {
  color: #ffffff;
  background-color: #527300;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-whatsapp:hover {
  color: #ffffff;
  background-color: #527300;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-whatsapp:active,
.btn-whatsapp.active,
.open > .dropdown-toggle.btn-whatsapp {
  color: #ffffff;
  background-color: #1e7300;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-whatsapp:active,
.btn-whatsapp.active,
.open > .dropdown-toggle.btn-whatsapp {
  background-image: none;
}

.btn-whatsapp .badge {
  color: #1e7300;
  background-color: #ffffff;
}

/////////////// compartir por Telegram
.btn-telegram {
  color: #ffffff;
  background-color: #63b4f5;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-telegram:focus,
.btn-telegram.focus {
  color: #ffffff;
  background-color: #3f9af5;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-telegram:hover {
  color: #ffffff;
  background-color: #3f9af5;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-telegram:active,
.btn-telegram.active,
.open > .dropdown-toggle.btn-telegram {
  color: #ffffff;
  background-color: #63b4f5;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-telegram:active,
.btn-telegram.active,
.open > .dropdown-toggle.btn-telegram {
  background-image: none;
}

.btn-telegram .badge {
  color: #1e7300;
  background-color: #ffffff;
}

///////////////////blog
.invoice {
  position: relative;
  background-image: url("/assets/background_blog.png");
  background-repeat: repeat;
  border: 3px solid #B9B5B5;
  padding: 20px;
  margin: 10px -10px;
  font-size: 17px;
}

.invoice h2 a {
  color: black
}

.invoice h2 a:hover {
  color: grey;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #B9B5B5;
}

.post_body img {
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

////////////////ZONA DE ADMINISTRACION
.user-panel > .info {
  padding: 4px 0px 0px 9px;
  left: 0px;
}
//----------- boton de ordenar por categorias
.dropdown-categories a{
  color: white;
}
.dropdown-categories .dropdown-menu{
  background: #f8e48e;
}
//----------- boton de ordenar por categorias

input[type=checkbox] {
  transform: scale(2);
}

////////////////ZONA DE ADMINISTRACION