<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido cambiar su contraseña. Si desea continuar y cambiar su contraseña de acceso, siga el link de abajo.</p>

<p><%= link_to t('devise.passwords.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no pidio cambiar la contraseña de su cuenta, por favor ignore este correo.</p>
<p>(Si no sigue el link proporcionado arriba, su contraseña permanecera inalterada)</p>
