<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada por un número excesivo de intentos de acceso infructuosos.</p>

<p>Haga click en el link de debajo para desbloquear su cuenta:</p>

<p><%= link_to t('devise.unlocks.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
