<%= form_for(@user, url:  admin_user_path(@user) ) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "") %> <%=t('common.errors_form_wrapper')%></h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :password , class: "col-sm-3 control-label"%>
      <div class="col-sm-9">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t("register.password") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("register.password_confirm"),autocomplete: "off" %><br/><br/>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :email , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("register.email") , disabled: true%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :name, class: "form-control", placeholder: t("register.name") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :surname1 , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :surname1, class: "form-control", placeholder: t("register.surname1") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :surname2 , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :surname2, class: "form-control", placeholder: t("register.surname2") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :address, class: "form-control", placeholder: t("register.address") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :phone, class: "form-control", placeholder: t("register.phone") %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :role_id , class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.collection_select :role_id, Role.order(:name),:id,:name,{},{class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :active , class:"col-sm-3 control-label" %>
      <div class="col-sm-1">
            <%= f.check_box :active , class:" form-control"%>
      </div>
    </div>
    <div class="form-group last">
      <div class="col-sm-12">
        <%= f.submit t("common.edit"),class: "btn btn-success btn-md align-right" %>
      </div>
    </div>
<% end %>