<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.users.name') %>
    <small><%= t('admin_zone.navbar.users.edit_user') %></small>
  </h1>
</section>

<section class="content">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><%=t("admin_zone.users.edit")%></strong>
        </div>
        <div class="panel-body">
          <span class="list-group-item list-group-item-warning"><%=t("register.advertance_edit")%></span>
          <%=render 'form_edit'%>
        </div>
        </div>
      </div>
</section>