<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('admin_zone.users.name') %>
    <small><%= t('admin_zone.navbar.users.list') %></small>
  </h1><br/>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= form_for(:search, url: search_admin_users_path, method: "get", html: {class: 'form-inline'}) do |f| %>
            <div class="form-group">
              <%= f.text_field :text, placeholder: t('admin_zone.users.search'), class: 'form-control' %>
            </div>
            <%= f.submit t('common.search'), class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="pull-left">
        <%= link_to t('admin_zone.home.admin_users')+" (#{User.admins.count})", sort_admin_users_path('admin_users'), class: 'btn btn-warning'%>
        <%= link_to t('admin_zone.home.deactivated_users')+" (#{User.disable.count})", sort_admin_users_path('disable'), class: 'btn btn-warning'%>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-users"></i> <%= t('admin_zone.users.list') %>
          <div class="pull-right">
            <div class="btn-group">
              <!--<a href="<%= new_user_registration_path %>" class="btn btn-info btn-xs" role="button"><%= t('admin_zone.navbar.users.create_user') %></a>-->
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr>
                    <th>
                      <div class="col-xs-8">
                        <%= t('helpers.label.user.name') %>
                      </div>
                      <div class="col-xs-4">
                        <a class="" href="<%=  sort_admin_users_path('name_asc')  %>">
                        <i class="fa fa-fw fa-arrow-up"></i>
                          </a>

                        <a class="" href="<%=  sort_admin_users_path('name_desc')  %>">
                        <i class="fa fa-fw fa-arrow-down"></i>
                            </a>
                      </div>
                    </th>
                    <th>
                      <div class="col-md-8">
                        <%= t('helpers.label.user.surname1') %>
                      </div>
                      <div class="col-md-4">
                        <a class="" href="<%=  sort_admin_users_path('surname1_asc')  %>">
                        <i class="fa fa-fw fa-arrow-up"></i>
                          </a>
                        <a class="" href="<%=  sort_admin_users_path('surname1_desc')  %>">
                        <i class="fa fa-fw fa-arrow-down"></i>
                            </a>
                      </div>
                    </th>
                    <th><%= t('helpers.label.user.surname2') %></th>
                    <th><%= t('helpers.label.user.email') %> & <%=t('helpers.label.user.phone')%></th>
                    <th><%= t('helpers.label.user.address') %></th>
                    <th><%= t('admin_zone.global.actions') %> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @users.each do |user| %>
                      <tr class="odd" role="row">
                        <td><%= user.name %></td>
                        <td><%= user.surname1 %></td>
                        <td><%= user.surname2 %></td>
                        <td><%= user.email %><br/><%=user.phone%></td>
                        <td><%= user.address %></td>
                        <td class="text-right">
                          <a class="btn btn-default btn-xs" href="<%= edit_admin_user_path(user) %>"><i class="fa fa-pencil-square-o"></i> <%= t('common.edit') %>
                          </a>
                          <a class="btn btn-danger btn-xs" data-method="delete" href="<%= admin_user_path(user) %>"><i class="fa fa-trash"></i> <%= t('common.delete') %>
                          </a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-12">
                  <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                                    page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</section>