<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="<%= products_path %>"> <%= t('product.all') %> </a></li>
  <% Category.mains.each_with_index do |category, index| %>
      <% if category.have_subcategories? %>
          <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= category.name %> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li>
                <a tabindex="<%= index %>" href="<%= category_products_path(category.name) %>"><%= t('product.all') %></a>
              </li>
              <% category.subcategories.each do |subcategory| %>
                  <li>
                    <a href="<%= category_products_path(subcategory.name) %>"><%= subcategory.name %></a></a>
                  </li>
              <% end %>
            </ul>
          </li>
      <% else %>
          <li role="presentation" class="active">
            <a href="<%= category_products_path(category.name) %>"><%= category.name %></a>
          </li>
      <% end %>
  <% end %>
</ul>
