<section class="content-fluid ">
  <div class="row">
    <%=render 'widget_categories'%>
  </div>
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <% if params[:action] == 'index' && params[:controller] == 'products' %>
          <h1 class="page-header">
            <%= t('product.all') %>
          </h1>
      <% elsif params[:action] == 'category' && params[:controller] == 'products' %>
          <h1 class="page-header">
            <%= @category.split("-").first %>
            <small><%= @category.split("-").last %></small>
          </h1>
      <% elsif params[:action] == 'search' && params[:controller] == 'products' %>
          <h1 class="page-header">
            <%= t('product.name_search') %>
            <small><%= @searched %></small>
          </h1>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row-fluid">
    <% if @products.empty? %>
        <span class="col-xs-12 text-center"> <%= t('product.nothing').upcase %></span>
    <% end %>
    <% @products.in_groups_of(3).each do |group| %>
        <div class="row">
          <% group.each do |product| %>
              <div class="col-lg-4 col-md-4 col-xs-12 thumb ">
                <% if product %>
                    <div class="thumbnail boxeffect cart_product_size ">
                      <div class="row">
                        <div class="col-xs-12">
                          <a class="thumbnail thumbnail_border" href="<%= product_path(product) %>">
                            <%= image_tag product.media, class: "img-responsive" %>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <table align="center">
                          <tr>
                            <td>
                              <%= form_for(product, url: url_for(controller: 'basket', action: 'set_product',
                                                                  params: {id: product.id}), remote: true, method: 'post') do |f| %>
                                  <%= button_tag(type: 'submit', class: "btn btn-app", id: "button_add-#{product.id}") do %>
                                      <i class="fa fa-cart-plus"></i> <%= t('basket.add_cart') %>
                                  <% end %>
                              <% end %>
                            </td>
                            <td>
                              <span class="pull-right"><button type="button" class="btn btn-app text-center" data-toggle="modal" data-target="#basket_modal">
                                <i class="fa fa-eye"></i> <%= t('basket.show_cart') %>
                              </button></span>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                      <div class="caption"><h3><%= link_to product.name, product_path(product) %></h3>
                        <table class="table_products">
                          <tr>
                            <td><%= product.category.name %></td>
                            <td><span class="pull-right price_product"><b><%= product.price %>€</b></span></td>
                          </tr>
                        </table>
                      </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <%= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right"),
                          page_gap: t('will_paginate.page_gap'), class: 'pull-right' %>
      </div>
    </div>
  </div>
</section>

