<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
    <%=render 'widget_categories'%>
  </div>
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @product.name.upcase %>
        <small><%= @product.category.name %></small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%=render 'layouts/photoswipe_template'%>
      <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-xs-12">
          <a href="<%= @product.media %>" itemprop="contentUrl" data-size="1024x800">
            <img src="<%= @product.media %>" itemprop="thumbnail" alt="Image description" class="img-responsive 	thumbnail"/>
          </a>
        </figure>
        <% @product.product_pictures.each do |picture| %>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-xs-12 col-md-6 adjust_show_products">
              <a href="<%= picture.media%>" itemprop="contentUrl" data-size="1024x800">
                <img src="<%= picture.media %>" itemprop="thumbnail" alt="Image description" class="img-responsive 	thumbnail" />
              </a>
            </figure>
        <%end%>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="box box-primary boxeffect">
        <div class="box-body box-profile">
          <% if @product.active==false %>
              <i class="fa fa-warning text-red"> <%= t('product.deactivate') %></i>
          <% end %>
          <h3 class="profile-username text-center"><%= @product.name.upcase %></h3>

          <div class="col-md-12">
            <table class="table_products">
              <tr>
                <td><%= @product.category.name %><br/>Ref: <%= @product.id %></td>
                <td><span class="pull-right price_product"><b><%= @product.price %>€</b></span></td>
              </tr>
            </table>
            <br/><%= @product.description.html_safe %><br/><br/>
          </div>
          <table align="center">
            <tr>
              <td>
                <%= form_for(@product, url: url_for(controller: 'basket', action: 'set_product',
                                                    params: {id: @product.id}), remote: true, method: 'post') do |f| %>
                    <%= button_tag(type: 'submit', class: "btn btn-app", id: "button_add-#{@product.id}") do %>
                        <i class="fa fa-cart-plus"></i> <%= t('basket.add_cart') %>
                    <% end %>
                <% end %>
              </td>
              <td>
                              <span class="pull-right"><button type="button" class="btn btn-app text-center" data-toggle="modal" data-target="#basket_modal">
                                <i class="fa fa-eye"></i> <%= t('basket.show_cart') %>
                              </button></span>
              </td>
            </tr>
          </table>
          <%=render 'layouts/social_share'%>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <br/><br/><br/>
</div>
