<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="">
          <%=t('navbar.menu').upcase%> <i class="fa fa-navicon"></i>
        </span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#basket_modal" aria-expanded="false">
        <span class="">
          <span class="badge" id="num_products"><%= total_products %> <i class="fa fa-shopping-cart " ></i></span>
        </span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>"><span class="logo-lg"><img src="<%=image_url('logo.png')%>" class="text-left" alt="logo" height="" width="150"> <b></b></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%=render 'layouts/widget_products'%>
        <li <%=set_active_blog%>><a href="<%= blog_index_path %>"><i class="fa fa-cutlery "></i> <%=t('navbar.blog').upcase%></a></li>
        <li <%=set_active_contact%>><a href="<%= contact_index_path %>"><i class='fa fa-pencil'></i> <%=t('navbar.contact').upcase%></a></li>
        <li class="dropdown">
            <a href="#" aria-expanded="false" class="dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="">
              <i class='fa fa-search'></i><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <%= form_for(:search, url: search_products_path, method: "get", html: {class: 'form-inline'}) do |f| %>
                    <div class="form-group">
                      <%= f.text_field :text, placeholder: t('product.search'), class: 'form-control' %>
                    </div>
                    <%= f.submit t('common.search'), class: 'btn btn-default' %>
                <% end %></li>
            </ul>
        </li>
        <li class="pull-right">
          <a href="#basket_modal" data-toggle="modal" data-target="#basket_modal"><i class="fa fa-shopping-cart " style="font-size:20px;">
          </i> <span class="badge" id="num_products2"><%= total_products+delivery_cart_price %></span></a>
        </li>
        <%= render 'layouts/widget_login' %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
</nav>