<div class="text-center ">
</div>
<footer class="footer-distributed">
  <div class="footer-left">
    <h3 class=""><img src="/assets/logo-inverse.png" class="" alt="logo" height="" width="280"></h3>

    <p class="footer-links">
    <li><a href="<%= root_path %>"><i class='fa fa-home'></i> <%= t('navbar.index').upcase %></a></li>
    <%= render 'layouts/widget_products' %>
    <li><a href="<%= how_do_index_path %>"><i class="fa fa-question-circle"></i> <%= t('navbar.how_do').upcase %></a>
    </li>
    <li><a href="<%= blog_index_path %>"><i class="fa fa-cutlery"></i> <%= t('navbar.blog').upcase %></a></li>
    <li><a href="<%= contact_index_path %>"><i class='fa fa-pencil'></i> <%= t('navbar.contact').upcase %></a></li>
    </p>
    <p class="footer-company-name">
      <strong>Copyright &copy; <%= Time.now.year %> <a href="http://tejeycome.es">TejeyCome</a>.</strong>
      <br/>Web creada por <a href="http://marcosmartingm.es">Marcos Martín</a>   <a href="mailto:marcos.martingm@gmail.com?Subject=Contacto%20desde%20TejeyCome.es" target="_top">
      <i class="fa fa-envelope"></i></a>
    </p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-phone"></i>
      <p>627 98 08 77 </p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>tejeycome@gmail.com</p>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <i class="fa fa-facebook"></i>
        <p><a href="https://www.facebook.com/tejeycome">Facebook</a></p>
      </div>
      <div class="col-xs-6">
        <i class="fa fa-twitter"></i>
        <p><a href="https://twitter.com/tejeycomeweb">Twitter</a></p>
      </div>
      <div class="col-xs-6">
        <i class="fa fa-pinterest"></i>
        <p><a href="https://www.pinterest.com/tejeycome/">Pinterest</a></p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <!--<span class="text-center"></span>-->
      Bienvenidos a TejeyCome donde encontraras dulces, cocina, bordados y mucho ganchillo.
    </p>
    <p class="footer-company-about">
      <span class="text-center"><%= t('common.share') %>:
    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>" class="" data-toggle="tooltip" data-placement="top" title="FACEBOOK"><i class="fa fa-square-o fa-facebook fa-2x"></i>
    </a>
    <!-- Twitter -->
    <a href="http://twitter.com/home?status=<%= root_url %>" target="_blank" class="" data-toggle="tooltip" data-placement="top" title="TWITTER"><i class="fa fa-twitter fa-2x"></i></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=<%= root_url %>" target="_blank" class="" data-toggle="tooltip" data-placement="top" title="LINKEDIN"><i class="fa fa-square-o fa-linkedin fa-2x"></i>
    </a>
    <!-- Whatsapp-->
    <a href="whatsapp://send?text=<%= root_url %>" title="Share on Whatsapp" data-action="share/whatsapp/share" class=""><i class="fa fa-square-o fa-whatsapp fa-2x" data-toggle="tooltip" data-placement="top" title="WHATSAPP"></i>
    </a>
    <!-- Telegram-->
    <a href="tg://msg?text=<%= root_url %>" class="" data-toggle="tooltip" data-placement="top" title="TELEGRAM"><i class="fa fa-square-o fa-paper-plane fa-2x"></i>
    </a>
    </span>
    </p>
    <p><%=image_tag 'paypal_logo.jpg', class:'img-responsive'%></p>
  </div>
</footer>
