<div class="divide-nav">
  <div class="">
    <p class="divide-text">
      <span class="fa-stack">
          <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x"></i>
      </span>627 98 08 77
      <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
        </span>tejeycome@gmail.com
    </p>
  </div>
</div>