<div class="row center-block">
  <%= form_for(:search, url: search_products_path, method: "get", html: {class: 'form-inline'}) do |f| %>
      <div class="form-group">
        <%= f.text_field :text, placeholder: t('product.search'), class: 'form-control' %>
      </div>
      <%= f.submit t('common.search'), class: 'btn btn-info' %>

  <% end %>
</div>
<br/>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= t('product.all') %>">
      <h4 class="panel-title">
        <a role="button" href="<%= products_path %>" aria-expanded="false" aria-controls="collapse<%= t('product.all') %>">
          <%= t('product.all') %>
        </a>
      </h4>
    </div>
  </div>
  <% Category.mains.each do |category| %>
      <% if category.have_subcategories? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading<%= category.name %>">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category.name %>" aria-expanded="false" aria-controls="collapse<%= category.name %>">
                  <i class="fa fa-chevron-down pull-right"></i>  <%= category.name %>
                </a>
              </h4>
            </div>
            <div id="collapse<%= category.name %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= category.name %>">
              <ul class="list-group">
                <li class="list-group-item">
                  <a role="button" href="<%= category_products_path(category.name) %>" <%= category.name %>">
                  <%= t('product.all') %>
                  </a>
                </li>
                <% category.subcategories.each do |subcategory| %>
                    <li class="list-group-item">
                      <a role="button" href="<%= category_products_path(subcategory.name) %>" aria-controls="collapse<%= category.name %>">
                        <%= subcategory.name %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else #no tiene subcategorias  %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading<%= category.name %>">
              <h4 class="panel-title">
                <a role="button" href="<%= category_products_path(category.name) %>" aria-expanded="false" aria-controls="collapse<%= category.name %>">
                  <%= category.name %>
                </a>
              </h4>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

