<!-- modal cart -->

<div class="modal modal-primary" id="basket_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title"><%= t('basket.details_cart').upcase %></h4>
      </div>
      <div class="modal-body" id="show_cart">
        <div class="box-header">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding" id="table_basket">
          <% if total_products > 0 %>
              <%= render 'layouts/table_basket' %>
          <% else %>
              <span class="col-xs-12 text-center"> <%= t('product.nothing').upcase %></span>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="modal-footer" id="footer-basket">
            <%= button_to t('basket.destroy_cart'), reset_basket_path, method: :delete, confirm: t('common.are_you_sure'), remote: true, class: "btn btn-outline pull-left" %>
            <%= button_to t('basket.stored_buy'), new_order_path, class: "btn btn-outline", method: :get %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /modal cart -->
