<br/><br/>
<div class="text-center">
  <br/><br/>
  <h4><%=t('common.share').upcase%></h4>
  <!-- Twitter -->
  <a href="http://twitter.com/home?status=<%=request.original_url%>" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
  <!-- Pinterest -->
  <!--<a href="http://pinterest.com/pin/create/button/?url=<%=request.original_url%>&media=<%=@image%>&description=<%=@description%>" class="btn btn-social btn-flickr"> <i class="fa fa-pinterest"></i> Pinterest</a>-->
  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=request.original_url%>&title=<%=@web_title%>&summary=<%=@description%>" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <!-- Whatsapp-->
  <a href="whatsapp://send?text=<%=request.original_url%>" title="Share on Whatsapp" data-action="share/whatsapp/share" class="btn btn-whatsapp"><i class="fa fa-whatsapp"></i> Whatsapp</a>
  <!-- Telegram-->
  <a href="tg://msg?text=<%=request.original_url%>" title="Share on Telegram" class="btn btn-telegram"><i class="fa fa-paper-plane"></i> Telegram</a>
</div>
