<div class="table-responsive">
<table class="table table-condensed">
  <tbody><tr>
    <th class="">Ref.</th>
    <th class="hidden-sm hidden-xs text-center"><%=t('basket.stored_image')%></th>
    <th class="text-center"><%=t('basket.stored_product_title')%></th>
    <th class="text-center"><%=t('basket.stored_quantity')%></th>
    <th class="text-center"><%=t('basket.stored_price')%></th>
  </tr>
  <tr>
    <% unique_products_basket.sort.each do |element|%>
        <%product=Product.find(element)%>
        <td class="" ><%=product.id%></td>
        <td class="hidden-sm hidden-xs text-center"><%= image_tag product.media, size: "150x100", class: "img-responsive center-block"%></td>
        <td class="text-center"><%=link_to product.name, product_path(product)%></td>
        <td class="text-center">
          <%= link_to "<i class=\"fa fa-minus\"></i>".html_safe, delete_basket_product_path(product) ,
                      confirm: t('common.are_you_sure'), method: :delete,class: "btn btn-block btn-warning", remote: true %>
          <%=count_num_products_in_basket(product)%>
          <%=form_for(product, url: url_for(controller: '/basket', action: 'set_product',
                                            params: {id: product.id}),remote: true,
                      class: "pull-right",method: 'post') do |f|%>
              <%= button_tag(type: 'submit', class: "btn btn-block btn-info") do %>
                  <i class="fa fa-plus"></i>
              <% end %>
          <%end%>
        </td>
        <td>
          <span class="pull-right"><%=number_with_precision(product.price, precision: 2).to_s+' €/ud'%></span>
        </td>
        </tr>
    <%end%>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="pull-right"><%= t('basket.stored_delivery_total') %></span></td>
      <td><span class="pull-right"><%=number_with_precision(delivery_cart_price, precision: 2).to_s+' €'%></span></td>
    </tr>
    <tr>
      <td></td>
      <td class="hidden-sm hidden-xs text-center"></td>
      <td></td>
      <td><span class="pull-right"><%= t('basket.stored_total') %></span></td>
      <td><span class="pull-right"><%=number_with_precision(total_products+delivery_cart_price, precision: 2).to_s+' €'%></span></td>
    </tr>
    </tbody>
</table>
    </div>