<%if user_signed_in? #el else es para cuando no estas identificado%>
<li class="dropdown pull-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user " style="font-size:20px;"> <%=current_user.name%> </i>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "<i class='fa fa-gears'></i> #{t('admin_zone.navbar.home')}".html_safe, admin_home_path%></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "<i class='fa fa-sign-out'></i> #{t('devise.links.sign_out')}".html_safe, destroy_user_session_path, method: :delete %></li>
  </ul>
</li>

<%else%>
    <li class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user " style="font-size:20px;"> <small><%=t('navbar.my_account')%></small></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "<i class=' fa fa-thumbs-o-up'></i> #{t('devise.links.sign_in')}".html_safe, user_session_path%></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "<i class='fa fa-user-plus'></i> #{t('devise.links.sign_up')}".html_safe, new_user_registration_path%></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "<i class='fa fa-unlock'></i> #{t('devise.links.forgot_pass')}".html_safe, new_user_password_path%></li>

      </ul>
    </li>
<%end%>