<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
<!--
 _____      _              ___                         __  __
/__   \___ (_) ___ _   _  / __\___  _ __ ___   ___    /__\/ _\
  / /\/ _ \| |/ _ \ | | |/ /  / _ \| '_ ` _ \ / _ \  /_\  \ \
 / / |  __/| |  __/ |_| / /__| (_) | | | | | |  __/_//__  _\ \
 \/   \___|/ |\___|\__, \____/\___/|_| |_| |_|\___(_)__/  \__/
         |__/      |___/

         Hola Hacker! siguenos en TWITTER: https://twitter.com/tejeycomeweb
                                  FACEBOOK: https://www.facebook.com/tejeycome
                                  PINTEREST: https://www.pinterest.com/tejeycome/
-->
  <title><%= @web_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="<%= I18n.locale %>"/>
  <meta name="distribution" content="global"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @description %>">
  <meta name="Keywords" content="<%= @keywords %>">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <!-- Facebook metas -->
  <meta property="og:title" content="<%= @web_title %>"/>
  <meta property="og:description" content="<%= @description %>"/>
  <meta property="og:url" content="<%= @url %>"/>
  <meta property="og:image" content="<%= @image %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="TejeyCome.es"/>
  <!-- Facebook metas -->
  <!-- Twitter metas -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @web_title %>">
  <meta name="twitter:description" content="<%= @description %>">
  <meta name="twitter:image:src" content="<%= @image %>">
  <!-- Twitter metas -->
</head>
<body onload="<%= @load_javascript %>">
<!--Primera imagen de la web: sirve para compartir facilmente en redes sociales-->
<img src="<%= @image %>" style="display: none;" />
<!-- Navbars -->
<div class="adjust-main-navbar"></div>
<%= render 'layouts/main_navbar' %>
<%= render 'layouts/main_navbar_divider' %>
<div class="" id="show_basket">
  <%= render 'layouts/show_basket' %>
</div>
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12  main_adjust">
        <div style="text-align: center;" class="embed-container">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Alargado -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-3944289696691188"
               data-ad-slot="8466811959"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <% if notice.present? %>
            <div class="alert alert-success alert-dismissable">
              <i class="fa fa-thumbs-o-up"></i>
              <strong><%= t('common.info') %></strong>
              <%= notice.html_safe %>
              <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            </div>
        <% end %>
        <% if alert.present? %>
            <div class="alert alert-danger alert-dismissable">
              <i class="fa fa-warning"></i>
              <strong><%= t('common.danger') %></strong>
              <%= alert.html_safe %>
              <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            </div>
        <% end %>
        <%= yield %>
        <div style="text-align: center;" class="embed-container">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Alargado -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-3944289696691188"
               data-ad-slot="8466811959"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
    <div class="row">
      <footer class="footer-distributed">
        <%= render 'layouts/main_footer' %>
      </footer>
    </div>
  </div>
</div>
<% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77080118-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-77080118-1');
  </script>
<% end %>
</body>
</html>

