<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= @web_title %></title>
  <%= wicked_pdf_stylesheet_link_tag "pdf"%>
  <meta charset="utf-8"/>
</head>
<body onload=''>
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>

